<a href="https://colab.research.google.com/github/AndresMontesDeOca/Laboratorio3/blob/main/Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulos

## Libraries

In [4]:
# ColabNotebook = 'google.colab' in str(get_ipython())

# if ColabNotebook: # maquina virtual colab
#     # monta G-drive en entorno COLAB
#     from google.colab import drive
#     drive.mount('/content/drive/')

In [65]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.callbacks import Callback, EarlyStopping
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error


import warnings
# warnings.filterwarnings('ignore', category=ValueWarning)
warnings.filterwarnings('ignore')

# Asegurarte de que Pandas muestre los valores con la máxima precisión
pd.set_option('display.float_format', lambda x: '%.10f' % x)

# Ajustar la opción para mostrar más filas
pd.set_option('display.max_rows', 50)

# Si también quieres mostrar más columnas
pd.set_option('display.max_columns', 50)


# Vamos a suprimir la notacion cientifica
pd.set_option("display.float_format", lambda x:"%.2f" %x)


def print_ds(ds, take=3):
    for ex in ds.take(take):
        print(ex)

## Carga Datos

### Local

In [6]:
# # # Code to read csv file into Colaboratory:
# # # !pip install -U -q PyDrive
# # from pydrive.auth import GoogleAuth
# # from pydrive.drive import GoogleDrive
# # from google.colab import auth, drive
# # from oauth2client.client import GoogleCredentials
# #
# # # Authenticate and create the PyDrive client.
# # auth.authenticate_user()
# # gauth = GoogleAuth()
# # gauth.credentials = GoogleCredentials.get_application_default()
# # drive = GoogleDrive(gauth)



# ################################# Datasets ###################################
# # # Ventas
# # id = "158aOjqxaNO8l97yA6VWJkek_15YVLMhs"
# # downloaded = drive.CreateFile({'id':id})
# # downloaded.GetContentFile('sell-in.txt')
# data_ventas = pd.read_csv("G:\\My Drive\\Colab Notebooks\\Data\\Labo3\\sell-in.txt", sep="\t")
# data_ventas['periodo'] = pd.to_datetime(data_ventas['periodo'], format='%Y%m')
# data_ventas['customer_id'] = data_ventas['customer_id'].astype(str)
# data_ventas['product_id'] = data_ventas['product_id'].astype(str)
# data = data_ventas.copy()
# data.set_index('periodo', inplace=True)
# data_bkp = data.copy()

# # # # Productos
# # id = "15JS_k86LS0sgJXma7BOVXWlyNcMwxdhE"
# # downloaded = drive.CreateFile({'id':id})
# # downloaded.GetContentFile('tb_productos.txt')
# data_productos = pd.read_csv("G:\\My Drive\\Colab Notebooks\\Data\\Labo3\\tb_productos.txt", sep="\t")
# data_productos['product_id'] = data_productos['product_id'].astype(str)

# # # # Stocks
# # id = "15EV-8f_U7onpA1AcTxxXeD-z8yVR4fQu"
# # downloaded = drive.CreateFile({'id':id})
# # downloaded.GetContentFile('G:\\My Drive\\Colab Notebooks\\Data\\Labo3\\tb_stocks.txt')
# data_stocks = pd.read_csv('G:\\My Drive\\Colab Notebooks\\Data\\Labo3\\tb_stocks.txt', sep="\t")
# data_stocks['periodo'] = pd.to_datetime(data_stocks['periodo'], format='%Y%m')
# data_stocks['product_id'] = data_stocks['product_id'].astype(str)

# # # # Productos a predecir
# # id = "15LjADctFVwjzQFJvfJGFTEdgZx9xCoId"
# # downloaded = drive.CreateFile({'id':id})
# # downloaded.GetContentFile('productos_a_predecir.txt')
# data_productos_a_predecir = pd.read_csv("G:\\My Drive\\Colab Notebooks\\Data\\Labo3\\productos_a_predecir.txt", sep="\t")
# data_productos_a_predecir['product_id'] = data_productos_a_predecir['product_id'].astype(str)
# # data_productos_a_predecir_con_categorias = data_productos_a_predecir.set_index('product_id').join(data_productos.drop_duplicates('product_id').set_index('product_id').sort_index()[['cat1', 'cat2', 'cat3']]) # Esta mal
# data_productos_a_predecir_con_categorias = data_productos_a_predecir.join(data_productos.drop_duplicates('product_id').set_index('product_id').sort_index()[['cat1', 'cat2', 'cat3']])

### Colab

In [7]:
# Code to read csv file into Colaboratory:
# !pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth, drive
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)



################################# Datasets ###################################
# # Ventas
id = "158aOjqxaNO8l97yA6VWJkek_15YVLMhs"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('sell-in.txt')
data_ventas = pd.read_csv("sell-in.txt", sep="\t")
data_ventas['periodo'] = pd.to_datetime(data_ventas['periodo'], format='%Y%m')
data_ventas['customer_id'] = data_ventas['customer_id'].astype(str)
data_ventas['product_id'] = data_ventas['product_id'].astype(str)
data = data_ventas.copy()
data.set_index('periodo', inplace=True)
data_bkp = data.copy()

# # Productos
id = "15JS_k86LS0sgJXma7BOVXWlyNcMwxdhE"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tb_productos.txt')
data_productos = pd.read_csv("tb_productos.txt", sep="\t")
data_productos['product_id'] = data_productos['product_id'].astype(str)

# # Stocks
id = "15EV-8f_U7onpA1AcTxxXeD-z8yVR4fQu"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tb_stocks.txt')
data_stocks = pd.read_csv("tb_stocks.txt", sep="\t")
data_stocks['periodo'] = pd.to_datetime(data_stocks['periodo'], format='%Y%m')
data_stocks['product_id'] = data_stocks['product_id'].astype(str)

# # Productos a predecir
id = "15LjADctFVwjzQFJvfJGFTEdgZx9xCoId"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('productos_a_predecir.txt')
data_productos_a_predecir = pd.read_csv("productos_a_predecir.txt", sep="\t")
data_productos_a_predecir['product_id'] = data_productos_a_predecir['product_id'].astype(str)

# # Agregado 06/15, Ojo que puede romper en algun lado ya que antes no usaba el product_id como index
data_productos_a_predecir_index = data_productos_a_predecir.set_index('product_id', inplace=True)
# # No va
# data_productos_a_predecir.set_index('product_id', inplace=True)


# Comentado por las dudas 06/15
data_productos_a_predecir_con_categorias = data_productos_a_predecir.join(data_productos.drop_duplicates('product_id').set_index('product_id').sort_index()[['cat1', 'cat2', 'cat3']])

WARNING:root:pydrive is deprecated and no longer maintained. We recommend that you migrate your projects to pydrive2, the maintained fork of pydrive

## Filter Functions

In [94]:
##############################################################################
def filter_active_clients_data(df, show_plot=False):
  presencia_clientes = df.groupby(['periodo', 'customer_id']).size().unstack(fill_value=0)
  # Convertimos las cantidades en 1 para indicar presencia
  presencia_clientes[presencia_clientes > 0] = 1
  # Creamos la Maskara, en este caso para los ultimos 3 meses
  mask_active_clients = presencia_clientes.loc['2019-10':'2019-12'].sum(axis=0) == 3
  # Filtramos y devolvemos el Dataset
  active_data = df[df['customer_id'].isin(mask_active_clients[mask_active_clients].index)]

  if show_plot:
    # Configuramos el tamaño de la figura
    plt.figure(figsize=(15, 10))

    # Creamos el heatmap
    sns.heatmap(presencia_clientes, cmap='viridis', cbar=False, linewidths=.5)

    # Añadimos los títulos y etiquetas
    plt.title('Presencia de Clientes por Mes')
    plt.xlabel('Clientes')
    plt.ylabel('Mes')

    # Mostramos el gráfico
    plt.show()

  return active_data
##############################################################################
def filter_dataframe(dataframe, boolean_series):
    # Verificar que los índices de la Serie booleana y del DataFrame coinciden
    if not boolean_series.index.equals(dataframe.columns):
        raise ValueError("Los índices de la Serie booleana y las columnas del DataFrame no coinciden")

    # Filtrar el DataFrame usando la Serie booleana
    filtered_dataframe = dataframe.loc[:, boolean_series]

    return filtered_dataframe
##############################################################################
def filter_data(data_all, data_filter):
    # Filtrar el DataFrame 'data_all' para que solo contenga los 'product_id' presentes en 'data_filter'
    data_filtered = data_all[data_all['product_id'].isin(data_filter['product_id'])]

    return data_filtered
##############################################################################
def filter_data_por_categoria(df, categoria, categoria_columna):
    """
    Filtra los productos de un DataFrame dado una categoría y el DataFrame de productos con categorías.

    Args:
    dataframe (pd.DataFrame): DataFrame con las ventas de productos (cada columna es un product_id).
    categoria (str): Categoría a filtrar (valor de cat1, cat2 o cat3).
    categoria_columna (str): Nombre de la columna de categoría ('cat1', 'cat2' o 'cat3').

    Returns:
    pd.DataFrame: DataFrame filtrado con solo los productos de la categoría especificada.
    """
    # Filtrar los productos que pertenecen a la categoría especificada
    productos_filtrados = data_productos_a_predecir_con_categorias[data_productos_a_predecir_con_categorias[categoria_columna] == categoria].index

    # Filtrar el DataFrame de ventas usando los product_ids de los productos filtrados
    productos_en_data = [col for col in df.columns if col in productos_filtrados]
    df_filtrado = df[productos_en_data]

    return df_filtrado
##############################################################################

## Plot Functions

In [9]:
#############################################################################
def plot_history(history, start_epoch=0, metrics=None):
    if isinstance(metrics, str):
        metrics = [metrics]

    if metrics is None:
        metrics = [x for x in history.history.keys() if x[:4] != 'val_']

    if len(metrics) == 0:
        print('No metrics to display.')
        return

    # Get the epochs and filter them starting from start_epoch
    x = history.epoch[start_epoch:]

    rows = 1
    cols = len(metrics)
    count = 0

    plt.figure(figsize=(12 * cols, 8))

    for metric in sorted(metrics):
        count += 1
        plt.subplot(rows, cols, count)
        plt.plot(x, history.history[metric][start_epoch:], label='Train')
        val_metric = f'val_{metric}'
        if val_metric in history.history.keys():
            plt.plot(x, history.history[val_metric][start_epoch:], label='Validation')
        plt.title(metric.capitalize())
        plt.legend()
    plt.show()
################################################################
def plot_predictions(data_all, predictions):
  data_conc = pd.concat([data_all, predictions])
  separation = data_all.index[-1]

  # Crear una figura y un eje
  fig, ax = plt.subplots(figsize=(15, 6))

  # Plotear toda la serie con un color
  ax.plot(data_conc.index, data_conc.values, label='Datos', color='blue')

  ax.axvline(x=separation, color='green', linestyle='--', label='Fecha de separación')

  # Sobrescribir los últimos dos elementos con un color diferente
  ax.plot(data_conc.index[-3:], data_conc.values[-3:], color='red')

  # Añadir texto para la fecha de separación
  ax.text(separation, ax.get_ylim()[1], separation.strftime('%Y-%m'),
            color='green', verticalalignment='bottom', horizontalalignment='right')

  # Añadir leyenda y mostrar el gráfico
  ax.legend(['Datos', 'Predicciones'])
  plt.show()
  display(predictions)
  ################################################################
def plot_predictions_dec2019(data_all, predictions_original):
  separation = data_all.index[-3]
  predictions_updated = pd.concat([data_all.loc['2019-10'], predictions_original])

  # Crear una figura y un eje
  fig, ax = plt.subplots(figsize=(15, 6))

  # Plotear toda la serie con un color
  ax.plot(data_all.index, data_all.values, label='Datos', color='blue')

  # Sobrescribir los últimos dos elementos con un color diferente
  ax.plot(predictions_updated.index, predictions_updated.values, color='red', label='Predicciones')

  # Linea de corte
  ax.axvline(x=separation, color='black', linestyle='--', linewidth=0.5)

  # Añadir texto para la fecha de corte
  ax.text(separation, ax.get_ylim()[1], separation.strftime('%Y-%m'),
            color='black', verticalalignment='bottom', horizontalalignment='right')

  # Añadir una línea horizontal en el último valor de predictions_updated
  ax.axhline(y=predictions_updated.iloc[-1], color='green', linestyle='--', linewidth=1)

  # Calculo la Diferencia
  diff =  np.round((predictions.iloc[-1] - data_all.iloc[-1]) / data_all.iloc[-1] * 100, 2)

  # Añadir leyenda y mostrar el gráfico
  ax.legend()
  plt.title(f'Producto: {predictions.name}, Diferencia en la prediccion %{diff}')
  plt.show()
  print('Real value:', data_all.iloc[-1])
  print(predictions)

#############################################################################

## Group Data

In [10]:
# Siempre como values toma las toneladas vendidas
def group_data(data, column):
  grouped_data = data.groupby([column, 'periodo']).sum().reset_index()

  # Crea un DataFrame pivoteado donde las filas son las fechas y las columnas son los product_id
  pivot_data = grouped_data.pivot(index='periodo', columns=column, values='tn')

  # Asegúrate de que los nombres de las columnas sean strings
  pivot_data.columns = pivot_data.columns.astype(str)

  # Restablece el índice para asegurarse de que 'product_id' no sea un índice compuesto
  pivot_data.columns.name = None

  return pivot_data

## Fill Functions

In [104]:
###########################################################################
def fill_aug2019(df_grouped, option):
  if option == 'mean':
    df_grouped_tmp = df_grouped.drop(index='2019-08', axis=1)
    data_agosto_2019_mean = df_grouped_tmp.loc[['2019-07', '2019-09']].mean().to_frame().transpose()
    data_agosto_2019_mean.index = pd.to_datetime(['2019-08-01'])
    data_grouped_return = pd.concat([df_grouped_tmp, data_agosto_2019_mean]).sort_index()
  elif option == 'drop':
    data_grouped_return = df_grouped.drop(index='2019-08', axis=1)
  elif option == 'julplus10':
    df_grouped_tmp = df_grouped.drop(index='2019-08', axis=1)
    data_agosto_2019_jul_plus10 = df_grouped_tmp.loc['2019-07']*1.1
    data_agosto_2019_jul_plus10.index = pd.to_datetime(['2019-08-01'])
    data_grouped_return = pd.concat([df_grouped_tmp, data_agosto_2019_jul_plus10]).sort_index()
  else:
    raise ValueError("Invalid option. Choose 'mean' or 'drop'.")
    data_grouped_return= None

  return data_grouped_return
###########################################################################
def fill_nulls(df):
  # Primero usamos bfill para completar las ordenes mas viejas con los valores de las ordenes mas recientes
  df = df.bfill()
  # Luego completamos con ceros los productos que dejamos de vender, o se discontinuaron
  df = df.fillna(0)
  return df
###########################################################################

,20001,20002,20003,20004,20005,20006,20007,20008,20009,20010,20011,20012,20013,20014,20015,20016,20017,20018,20019,20020,20021,20022,20023,20024,20025,...,21201,21202,21207,21209,21212,21214,21218,21222,21224,21226,21227,21233,21244,21245,21246,21248,21252,21256,21259,21262,21263,21265,21266,21267,21276
2017-01-01,913.98,537.35,1028.23,538.23,471.80,510.56,440.79,508.61,372.59,431.28,481.02,458.86,414.76,243.53,296.28,279.36,317.32,330.52,397.38,287.71,324.66,307.77,199.91,306.55,158.38,...,NaN,0.72,NaN,NaN,NaN,NaN,0.74,0.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-01,786.01,491.66,718.16,490.30,509.12,577.45,614.78,597.18,464.54,509.95,367.11,483.71,330.61,269.15,362.96,245.99,366.39,262.45,389.07,279.81,246.36,314.64,179.30,289.35,182.08,...,NaN,0.21,NaN,NaN,NaN,NaN,0.07,0.17,0.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-01,1289.85,823.66,884.10,455.72,501.44,832.96,818.17,907.05,445.76,691.47,685.99,619.08,612.34,407.92,436.46,461.64,556.56,546.80,264.84,364.83,447.85,517.31,234.15,248.50,307.44,...,NaN,0.29,NaN,NaN,NaN,NaN,0.13,0.02,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-01,1062.05,509.85,493.73,475.24,624.92,543.16,723.72,604.39,327.21,582.66,477.18,730.52,497.93,590.16,377.65,454.20,563.41,564.10,254.78,401.96,435.28,372.21,215.50,368.22,122.51,...,NaN,0.25,NaN,NaN,NaN,NaN,0.22,0.26,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-01,1475.61,818.47,601.90,496.60,456.64,772.72,819.23,803.47,429.02,709.72,794.00,688.82,561.88,399.82,429.33,510.24,527.33,627.52,248.35,600.15,451.94,449.40,315.12,519.05,266.31,...,NaN,0.11,NaN,NaN,NaN,NaN,0.21,0.46,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-01,1475.53,934.40,696.70,544.39,469.67,654.07,832.06,710.01,539.21,848.99,549.58,845.57,505.54,557.50,499.25,332.32,472.59,334.19,238.16,453.82,412.08,426.49,288.56,227.93,333.37,...,NaN,0.14,NaN,NaN,NaN,NaN,0.10,0.09,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-01,1027.88,840.80,774.12,538.90,588.73,638.72,731.88,547.18,395.48,564.94,545.13,665.06,471.47,657.08,442.57,421.83,338.31,439.01,302.49,447.79,579.28,352.18,254.42,390.42,329.42,...,NaN,0.16,NaN,NaN,NaN,NaN,0.12,0.10,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-01,1246.18,611.14,842.01,1005.91,1020.37,758.14,851.04,813.25,401.18,635.61,510.04,626.69,370.60,470.27,566.86,460.62,588.97,530.24,403.76,330.68,460.93,340.51,328.27,336.23,215.02,...,NaN,0.27,NaN,NaN,NaN,NaN,0.28,0.20,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-01,1300.53,1050.42,1419.56,1164.22,1139.42,553.11,875.33,630.20,447.85,784.25,676.22,695.12,542.12,524.67,453.45,548.75,420.87,453.67,517.12,678.11,720.99,444.77,494.33,582.24,346.93,...,NaN,0.17,NaN,NaN,NaN,NaN,0.12,0.11,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-01,1428.89,854.51,1877.86,1169.57,810.83,815.32,889.42,685.37,259.94,995.51,651.81,675.22,602.39,517.49,418.24,493.07,466.34,418.06,805.37,581.57,556.39,593.65,481.08,425.32,428.42,...,NaN,0.13,NaN,NaN,NaN,NaN,0.08,0.09,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01,1547.21,733.12,1361.17,815.09,720.45,700.32,748.39,607.49,229.87,689.57,625.77,377.31,508.07,359.57,420.56,573.19,409.54,433.89,657.69,451.44,493.85,433.66,382.82,427.37,325.57,...,NaN,0.24,0.53,NaN,0.27,NaN,0.09,0.07,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-01,1037.21,793.53,942.19,540.96,295.74,505.06,595.23,523.08,500.01,488.99,558.98,650.98,366.70,606.40,469.38,595.76,324.48,308.84,602.67,309.45,350.70,418.16,267.25,322.60,256.51,...,NaN,0.05,0.31,NaN,0.54,NaN,0.07,0.07,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,1146.61,975.47,871.57,408.06,401.81,448.45,616.45,452.77,261.23,283.84,336.54,320.92,323.30,347.64,415.09,383.67,275.85,326.77,241.04,287.55,241.45,263.43,220.82,220.25,240.54,...,NaN,0.17,0.37,NaN,0.23,NaN,0.05,0.12,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,1012.00,698.15,762.86,472.80,352.05,556.75,361.67,485.54,421.93,448.72,588.37,475.66,370.34,451.37,423.98,479.26,363.75,324.11,606.66,361.39,227.85,360.45,244.81,213.23,247.70,...,NaN,0.03,0.24,NaN,0.19,NaN,0.03,0.05,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-01,1805.69,947.94,754.97,460.52,505.67,829.82,1181.98,748.51,434.74,600.59,504.55,807.83,578.12,516.09,498.30,513.87,479.80,500.72,310.77,338.33,379.53,301.92,232.38,400.21,320.88,...,NaN,0.23,0.33,NaN,0.18,NaN,0.17,0.07,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-01,1220.76,983.00,742.03,575.29,462.82,729.49,645.10,666.22,291.23,167.29,551.25,564.37,439.73,436.49,275.56,466.70,522.70,519.83,280.46,368.78,90.16,85.68,170.28,289.16,301.64,...,NaN,0.21,0.19,NaN,0.18,NaN,0.19,0.09,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-01,1245.05,1088.21,747.32,590.78,580.67,835.45,685.92,685.77,370.34,197.49,471.61,658.27,483.25,523.35,357.40,514.91,513.06,376.86,340.74,446.74,145.35,173.55,302.40,338.92,258.85,...,NaN,0.33,0.21,NaN,0.26,NaN,0.14,0.10,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01,1144.82,1019.41,624.55,418.96,525.46,437.21,757.58,529.03,390.74,219.79,419.36,500.02,418.51,467.77,295.88,534.18,297.79,398.57,253.17,337.21,438.67,94.35,269.31,371.76,272.20,...,NaN,0.27,0.23,NaN,0.21,NaN,0.10,0.08,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-01,1465.04,968.68,642.44,622.39,470.78,503.24,683.22,518.58,380.20,310.79,298.92,557.50,386.90,535.80,314.50,404.96,344.51,321.14,347.31,312.01,322.66,58.04,251.15,240.88,209.14,...,NaN,0.25,0.20,NaN,0.16,NaN,0.17,0.10,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-01,1793.03,1150.87,923.35,883.40,803.61,600.02,680.81,540.85,510.29,543.39,188.52,571.36,428.33,550.86,392.07,459.93,366.09,367.66,373.53,227.66,249.59,52.29,322.78,336.99,303.47,...,NaN,0.26,0.18,NaN,0.16,NaN,0.21,0.09,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-01,1424.30,949.98,898.98,898.67,712.89,469.37,427.16,425.27,575.33,442.22,188.32,314.43,226.95,371.97,490.72,453.43,282.54,279.32,406.50,174.95,367.02,68.42,338.62,259.48,243.03,...,NaN,0.16,0.11,1.10,0.11,NaN,0.08,0.06,0.06,0.92,NaN,1.16,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01,2287.11,1367.22,1296.88,763.16,851.29,505.14,538.45,523.13,588.85,567.16,176.22,417.77,457.47,321.76,550.44,451.55,326.03,159.19,544.01,163.45,381.62,112.97,224.18,274.43,323.91,...,0.18,0.08,0.13,0.11,0.24,NaN,0.08,0.07,0.06,0.10,NaN,0.09,0.53,0.09,0.52,0.45,NaN,0.52,0.51,0.46,0.51,NaN,NaN,NaN,NaN
2018-11-01,1804.60,1751.03,1173.20,772.71,433.01,540.53,442.19,416.35,543.53,396.37,282.75,338.81,359.89,557.79,441.92,317.44,276.05,362.66,518.26,186.29,299.23,197.21,442.30,179.93,213.42,...,0.13,0.01,0.11,0.10,0.13,NaN,0.03,0.04,0.05,0.12,NaN,0.04,0.34,0.04,0.34,0.35,NaN,0.35,0.38,0.36,0.38,NaN,NaN,NaN,NaN
2018-12-01,1481.09,999.54,729.99,563.88,344.44,398.19,358.65,420.21,545.81,278.55,306.96,320.83,331.62,359.74,448.07,211.91,251.98,317.89,420.82,183.75,217.11,250.01,233.07,180.07,98.69,...,0.42,0.02,0.12,0.03,0.10,NaN,0.03,0.03,0.08,0.10,NaN,0.02,0.03,0.02,0.04,0.06,NaN,0.03,0.03,0.06,0.03,NaN,NaN,NaN,NaN
2019-01-01,1273.02,1261.29,952.48,496.01,335.32,560.81,373.83,534.85,460.74,357.19,298.54,265.92,478.75,286.91,321.14,241.72,316.70,319.06,356.52,272.72,191.82,256.80,225.66,202.57,152.87,...,0.31,0.17,0.17,0.04,0.10,NaN,0.02,0.06,0.09,0.12,NaN,0.06,0.05,0.06,0.03,0.03,NaN,0.04,0.04,0.02,0.04,NaN,NaN,NaN,NaN
2019-02-01,1256.08,1037.76,746.21,427.44,386.31,461.71,362.66,459.18,361.21,322.12,425.34,321.30,373.11,331.42,420.75,284.37,301.42,261.39,314.15,209.42,207.65,234.14,164.21,208.17,217.54,...,0.32,0.04,0.18,0.10,0.11,NaN,0.06,0.04,0.08,0.10,NaN,0.03,0.05,0.03,0.04,0.05,NaN,0.04,0.04,0.04,0.05,NaN,NaN,NaN,NaN
2019-03-01,1461.67,1076.76,631.33,575.68,459.56,488.91,569.01,445.60,519.53,492.73,450.99,424.27,474.92,408.04,330.85,287.70,312.32,285.32,238.98,372.10,312.68,308.63,251.43,303.98,246.63,...,0.25,0.08,0.19,0.25,0.25,NaN,0.03,0.08,0.11,0.19,NaN,0.09,0.05,0.10,0.04,0.03,0.35,0.03,0.04,0.04,0.04,0.02,0.02,0.20,0.11
2019-04-01,1640.79,1281.08,553.87,448.48,593.30,818.26,508.32,396.30,383.97,437.44,372.74,485.20,385.91,560.46,310.82,301.05,383.36,489.83,264.27,308.64,234.79,142.87,245.13,182.87,256.53,...,0.01,0.14,0.13,0.07,0.00,NaN,0.04,0.05,0.08,0.09,NaN,0.11,0.02,0.10,0.02,0.03,0.22,0.01,0.02,0.01,0.02,0.30,0.30,0.12,0.10
2019-05-01,1627.90,1030.41,582.72,569.19,835.55,520.84,390.47,476.07,575.94,389.89,285.62,327.84,412.31,436.57,309.60,296.35,428.91,362.07,210.73,240.82,296.12,390.90,254.29,184.36,144.42,...,0.29,0.24,0.18,0.07,0.23,NaN,0.19,0.14,0.05,0.06,NaN,0.02,0.02,0.04,0.02,0.02,0.35,0.02,0.02,0.01,0.02,0.17,0.17,0.19,0.09
2019-06-01,1105.80,921.67,656.25,638.77,847.29,440.44,531.24,558.59,604.89,577.24,447.62,252.02,384.05,450.31,462.79,318.61,255.52,280.77,259.23,241.13,363.24,354.09,244.92,194.81,249.25,...,0.04,0.06,0.06,0.15,0.10,NaN,0.03,0.04,0.25,0.17,0.60,0.47,0.01,0.04,0.01,0.01,0.08,0.01,0.01,0.01,0.01,0.04,0.05,0.06,0.03
2019-07-01,1674.14,1058.81,700.12,492.92,694.19,323.22,569.92,515.77,713.14,444.91,425.57,423.28,581.66,522.12,470.95,311.65,229.78,220.04,223.55,330.87,218.96,333.45,288.94,262.70,226.13,...,0.50,0.08,0.13,0.25,0.11,NaN,0.08,0.04,0.09,0.14,0.18,0.13,0.05,0.08,0.03,0.02,0.03,0.02,0.04,0.03,0.03,0.03,0.06,0.07,0.00
2019-08-01,1841.56,1164.69,770.13,542.21,763.61,355.55,626.91,567.35,784.46,489.40,468.13,465.61,639.83,574.33,518.04,342.81,252.76,242.05,245.91,363.95,240.86,366.80,317.83,288.97,248.74,...,0.55,0.09,0.15,0.28,0.13,NaN,0.09,0.05,0.10,0.16,0.19,0.14,0.05,0.08,0.03,0.02,0.03,0.03,0.05,0.04,0.03,0.03,0.07,0.08,0.00
2019-09-01,1652.14,1087.55,946.78,744.37,826.87,403.52,365.57,324.55,555.39,501.03,398.84,327.15,479.12,494.58,403.49,358.77,250.95,226.85,339.71,293.58,304.30,303.54,352.24,275.82,294.41,...,0.40,0.06,0.33,0.14,0.11,0.34,0.07,0.08,0.06,0.21,0.19,0.02,0.06,0.01,0.07,0.01,0.11,0.00,0.01,0.02,0.01,0.02,0.03,0.02,0.02
2019-10-01,1553.44,1979.12,1068.26,1030.60,958.98,517.71,440.02,444.75,555.59,430.06,421.65,280.04,520.29,509.14,470.25,267.89,295.66,274.86,448.38,238.51,244.57,166.00,369.63,201.08,143.91,...,0.36,0.04,0.11,0.12,0.10,0.21,0.04,0.07,0.06,0.13,0.22,0.04,0.01,0.03,0.01,0.01,0.10,0.01,0.02,0.02,0.02,0.11,0.12,0.10,0.02
2019-11-01,1390.14,1419.92,932.08,693.63,561.97,385.12,349.90,382.14,708.18,451.24,291.53,354.28,330.25,411.38,321.48,300.02,209.55,248.00,364.28,316.85,271.14,340.72,272.65,157.80,240.46,...,0.33,0.03,0.11,0.17,0.09,0.83,0.03,0.03,0.06,0.17,0.13,0.04,0.03,0.02,0.04,0.03,0.12,0.03,0.03,0.03,0.03,0.07,0.07,0.04,0.03
2019-12-01,1503.30,1086.82,887.07,633.11,585.11,416.60,389.85,194.86,494.29,345.30,391.81,172.26,311.14,271.49,294.76,272.81,216.44,141.48,346.33,263.30,202.86,210.26,177.71,269.43,240.00,...,0.18,0.05,0.12,0.08,0.11,0.24,0.03,0.02,0.07,0.05,0.42,0.04,0.01,0.02,0.02,0.01,0.09,0.01,0.01,0.02,0.01,0.05,0.05,0.02,0.01

## Normalize Data

In [12]:
# Creo que solo come DataFrames
###########################################################################
def normalize_data(train, valid, normalization="MinMax"):
    if normalization == "MinMax":
        scaler = MinMaxScaler()
    elif normalization == "ZScore":
        scaler = StandardScaler()
    else:
        raise ValueError("normalization parameter must be either 'MinMax' or 'ZScore'")

    # Normalizar el conjunto de entrenamiento
    train_norm = pd.DataFrame(scaler.fit_transform(train), columns=train.columns, index=train.index)

    # Normalizar el conjunto de validación
    valid_norm = pd.DataFrame(scaler.transform(valid), columns=valid.columns, index=valid.index)

    if normalization == "MinMax":
        normalization_params = pd.DataFrame({
            'min': scaler.data_min_,
            'max': scaler.data_max_
        }, index=train.columns)
    elif normalization == "ZScore":
        normalization_params = pd.DataFrame({
            'mean': scaler.mean_,
            'std': scaler.scale_
        }, index=train.columns)

    return train_norm, valid_norm, normalization_params
###########################################################################
def denormalize_data(normalized_series, normalization_params, normalization="MinMax"):
    if normalization == "MinMax":
        denormalized_data = normalized_series * (normalization_params['max'] - normalization_params['min']) + normalization_params['min']
    elif normalization == "ZScore":
        denormalized_data = normalized_series * normalization_params['std'] + normalization_params['mean']
    else:
        raise ValueError("normalization parameter must be either 'MinMax' or 'ZScore'")

    return denormalized_data
###########################################################################

In [13]:
# # Hay que modificarlo, fit_transform en Train, y transform en Test

# import pandas as pd
# from sklearn.preprocessing import MinMaxScaler, StandardScaler

# def normalize_data(df, normalization="MinMax"):
#     """
#     Normaliza cada serie de tiempo (columna) de manera individual usando MinMax o Zscore.

#     Args:
#         df (pd.DataFrame): DataFrame con series de tiempo de distintos productos, cada columna es un producto.
#         normalization (str): Tipo de normalización a aplicar. Opciones: "MinMax" o "Zscore". Default es "MinMax".

#     Returns:
#         normalized_df (pd.DataFrame): DataFrame con las series normalizadas.
#         normalization_params (pd.DataFrame): DataFrame con los parámetros necesarios para desnormalizar cada columna.
#             - Para "MinMax": valores min y max de cada columna.
#             - Para "Zscore": valores mean y std de cada columna.
#     """
#     normalization_params = pd.DataFrame(columns=["product_id", "min", "max", "mean", "std"])
#     normalized_df = pd.DataFrame(index=df.index)

#     for column in df.columns:
#         if normalization == "MinMax":
#             scaler = MinMaxScaler()
#             normalized_values = scaler.fit_transform(df[[column]]).flatten()
#             new_params = pd.DataFrame({
#                 "product_id": [column],
#                 "min": [scaler.data_min_[0]],
#                 "max": [scaler.data_max_[0]],
#                 "mean": [None],
#                 "std": [None]
#             })
#             normalization_params = pd.concat([normalization_params, new_params], ignore_index=True)
#             normalized_df[column] = normalized_values

#         elif normalization == "ZScore":
#             scaler = StandardScaler()
#             normalized_values = scaler.fit_transform(df[[column]]).flatten()
#             new_params = pd.DataFrame({
#                 "product_id": [column],
#                 "min": [None],
#                 "max": [None],
#                 "mean": [scaler.mean_[0]],
#                 "std": [scaler.scale_[0]]
#             })
#             normalization_params = pd.concat([normalization_params, new_params], ignore_index=True)
#             normalized_df[column] = normalized_values

#         else:
#             raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")

#     return normalized_df, normalization_params

# def denormalize_series(normalized_series, normalization_params, normalization="MinMax"):
#     """
#     Desnormaliza una serie de tiempo usando los valores almacenados.

#     Args:
#         normalized_series (pd.Series or pd.DataFrame): Serie o DataFrame con los datos normalizados.
#         normalization_params (pd.DataFrame): DataFrame con los parámetros necesarios para desnormalizar cada serie o columna.
#             - Para "MinMax": valores min y max de cada serie o columna.
#             - Para "Zscore": valores mean y std de cada serie o columna.
#         normalization (str): Tipo de normalización a deshacer. Opciones: "MinMax" o "Zscore". Default es "MinMax".

#     Returns:
#         denormalized_series (pd.Series or pd.DataFrame): Serie o DataFrame con los datos desnormalizados.
#     """
#     if isinstance(normalized_series, pd.DataFrame):
#         denormalized_df = pd.DataFrame(index=normalized_series.index)
#         for column in normalized_series.columns:
#             params = normalization_params[normalization_params["product_id"] == column]
#             if normalization == "MinMax":
#                 min_value = params["min"].values[0]
#                 max_value = params["max"].values[0]
#                 denormalized_values = normalized_series[column] * (max_value - min_value) + min_value
#             elif normalization == "ZScore":
#                 mean_value = params["mean"].values[0]
#                 std_value = params["std"].values[0]
#                 denormalized_values = normalized_series[column] * std_value + mean_value
#             else:
#                 raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")
#             denormalized_df[column] = denormalized_values
#         return denormalized_df
#     elif isinstance(normalized_series, pd.Series):
#         product_ids = normalized_series.index
#         denormalized_values = []
#         for product_id in product_ids:
#             params = normalization_params[normalization_params["product_id"] == product_id]
#             if normalization == "MinMax":
#                 min_value = params["min"].values[0]
#                 max_value = params["max"].values[0]
#                 denormalized_value = normalized_series[product_id] * (max_value - min_value) + min_value
#             elif normalization == "ZScore":
#                 mean_value = params["mean"].values[0]
#                 std_value = params["std"].values[0]
#                 denormalized_value = normalized_series[product_id] * std_value + mean_value
#             else:
#                 raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")
#             denormalized_values.append(denormalized_value)
#         denormalized_series = pd.Series(denormalized_values, index=product_ids, name=normalized_series.name)
#         return denormalized_series
#     else:
#         raise TypeError("normalized_series should be either a pandas Series or DataFrame")

## Split Data

In [14]:
# # Mientras mas chiquito el window size y batch size, mas datos podemos usar en el entrenamiento
###############################################################################
def split_data(df, window_size):
  if window_size == 12:
    df_train = df.loc['2017-01':'2018-10']
    df_valid = df.loc['2018-11':'2019-12']
  elif window_size == 6:
    df_train = df.loc['2017-01':'2019-04']
    df_valid = df.loc['2019-05':'2019-12']
  else:
    raise ValueError("window_size must be different")
  return pd.DataFrame(df_train), pd.DataFrame(df_valid)
#############################################################################
# Hay que seguir probando con otras window (ej 6, 12)
# y ver como no pincha el entrenamiento por quedarnos con pocos datos de validacion
def split_data_dec2019(df, window_size):
  if window_size == 3:
    df_train = df.loc['2017-01':'2019-05']
    df_valid = df.loc['2019-06':'2019-10']
    df_test = df.loc['2019-11':'2019-12']
  elif window_size == 4:
    df_train = df.loc['2017-01':'2019-04']
    df_valid = df.loc['2019-05':'2019-10']
    df_test = df.loc['2019-11':'2019-12']
  elif window_size == 6:
    df_train = df.loc['2017-01':'2019-02']
    df_valid = df.loc['2019-03':'2019-10']
  else:
    raise ValueError("window_size must be different")
  return pd.DataFrame(df_train), pd.DataFrame(df_valid)#, pd.DataFrame(df_test)
#############################################################################
# split mas chico posible, con window 3 y batch 1
def split_data_test(df):
  df_train = df.loc['2017-01':'2019-07']
  df_valid = df.loc['2019-08':'2019-12']
  return pd.DataFrame(df_train), pd.DataFrame(df_valid)
############################################################################
# # No se si este split tiene sentido, pierdo muchos datos de entrenamiento
# def split_data_2019(df):
#   df_train = df.loc['2017-01':'2018-12']
#   df_valid = df.loc['2019-01':'2019-10']
#   df_test =  df.loc['2019-11':'2019-12']
#   return df_train, df_valid, df_test
############################################################################

## Window Data

In [15]:
#############################################################################
def windowed_dataset(sequence, data_split, window_size, horizon, batch_size, shuffle_buffer=1000):
    """Generates dataset windows.

    Args:
      sequence (array-like): Contains the values of the time series.
      data_split (str): Specifies if the dataset is for training or validation/test.
      window_size (int): The number of time steps to include in the feature.
      horizon (int): The number of future time steps to predict.
      batch_size (int): The batch size.
      shuffle_buffer (int): Buffer size to use for the shuffle method.

    Returns:
      tf.data.Dataset: TF Dataset containing time windows.
    """

    # Generate a TF Dataset from the series values
    dataset = tf.data.Dataset.from_tensor_slices(sequence)

    # Window the data but only take those with the specified size
    dataset = dataset.window(window_size + horizon, shift=1, drop_remainder=True)

    # Flatten the windows by putting its elements in a single batch
    dataset = dataset.flat_map(lambda window: window.batch(window_size + horizon))

    # Create tuples with features and labels
    dataset = dataset.map(lambda window: (window[:-horizon], window[-horizon:]))

    if data_split == 'train':
        # Shuffle the training data to improve generalization
        dataset = dataset.shuffle(shuffle_buffer)
    else:
        # Cache the validation/test data for improved performance
        dataset = dataset.cache()

    # Create batches of windows and prefetch for performance
    dataset = dataset.batch(batch_size).prefetch(tf.data.AUTOTUNE)

    return dataset

In [16]:
##############################################
# # Viejos
##############################################
# def window_dataset(sequence, data_split, window_size, batch_size, n_future, shuffle_buffer=1000, seed=None):
#     dataset = tf.data.Dataset.from_tensor_slices(sequence)
#     dataset = dataset.window(window_size + n_future, shift=1, drop_remainder=True)
#     dataset = dataset.flat_map(lambda window: window.batch(window_size + n_future))
#     dataset = dataset.map(lambda window: (window[:window_size], window[window_size:]))

#     if data_split == 'train':
#         dataset = dataset.shuffle(shuffle_buffer, seed=seed)
#     else:
#         dataset = dataset.cache()

#     dataset = dataset.batch(batch_size).prefetch(tf.data.AUTOTUNE)

#     return dataset
##############################################
# def window_dataset(sequence, data_split, window_size, batch_size, n_future, shuffle_buffer=1000, seed=None):
#     """Generates dataset windows for multi-step forecasting in a multivariable context.

#     Args:
#       sequence (array-like): Contains the values of the time series, where each element is an array of feature values.
#       data_split (str): Specifies if the dataset is for training or validation/test.
#       window_size (int): The number of time steps to include in the feature.
#       batch_size (int): The batch size.
#       n_future (int): The number of future steps to predict.
#       shuffle_buffer (int): Buffer size to use for the shuffle method.
#       seed (int, optional): Random seed for reproducibility.

#     Returns:
#       tf.data.Dataset: TF Dataset containing time windows.
#     """

#     # Generate a TF Dataset from the series values
#     dataset = tf.data.Dataset.from_tensor_slices(sequence)

#     # Window the data but only take those with the specified size
#     dataset = dataset.window(window_size + n_future, shift=1, drop_remainder=True)

#     # Flatten the windows by putting its elements in a single batch
#     dataset = dataset.flat_map(lambda window: window.batch(window_size + n_future))

#     # Create tuples with features and labels
#     dataset = dataset.map(lambda window: (window[:window_size], window[window_size:]))

#     if data_split == 'train':
#         # Shuffle the training data to improve generalization
#         dataset = dataset.shuffle(shuffle_buffer, seed=seed)
#     else:
#         # Cache the validation/test data for improved performance
#         dataset = dataset.cache()

#     # Create batches of windows and prefetch for performance
#     dataset = dataset.batch(batch_size).prefetch(tf.data.AUTOTUNE)

#     return dataset

## Prediction Functions

In [17]:
##########################################################################
# # Este va a reemplazar al otro
def generate_predictions_2(model_trained, data_valid_norm, data_norm_params):
  data_norm_array = data_valid_norm.values
  column_names = data_valid_norm.columns
  input_data = data_norm_array[-window_size:].reshape((1, window_size, n_features))
  pred = model_trained.predict(input_data)
  pred = pred.reshape((1, horizon, n_features))
  pred_df = pd.DataFrame(pred[0], columns=column_names)
  pred_df.index = pd.date_range(start=data_valid_norm.index[-1] + pd.DateOffset(months=1), periods=horizon, freq='MS')

  # Generamos la salida de la primer prediccion, Enero 2020 (Mes +1 del ultimo mes en data_validation_norm)
  pred_plus1 = pred_df.iloc[0]
  pred_plus1_denorm = denormalize_data(pred_plus1, data_norm_params, normalization=normalization)
  pred_plus1_denorm = pd.Series(pred_plus1_denorm, name=str(column_names.values[0]))
  pred_plus1_df = pd.DataFrame(pred_plus1_denorm)
  pred_plus1_df['periodo'] = pd.to_datetime(pred_df.iloc[0].name)
  pred_plus1_df.set_index('periodo', inplace=True)

  # Generamos la salida de la segunda prediccion, Febrero 2020 (Mes +2 del ultimo mes en data_validation_norm)
  pred_plus2 = pred_df.iloc[1]
  pred_plus2_denorm = denormalize_data(pred_plus2, data_norm_params, normalization=normalization)
  pred_plus2_denorm = pd.Series(pred_plus2_denorm, name=str(column_names.values[0]))
  pred_plus2_df = pd.DataFrame(pred_plus2_denorm)
  pred_plus2_df['periodo'] = pd.to_datetime(pred_df.iloc[1].name)
  pred_plus2_df.set_index('periodo', inplace=True)

  # Concateno las dos predicciones
  pred_final_df = pd.concat([pred_plus1_df,pred_plus2_df])

  # En lugar de DF, devuelvo una serie, para que matchee con el input
  pred_final_serie = pred_final_df.squeeze()

  return pred_final_serie
##########################################################################
def generate_predictions(data_norm, data_norm_params, export_csv):
  data_norm_array = data_norm.values
  column_names = data_norm.columns
  input_data = data_norm_array[-window_size:].reshape((1, window_size, n_features))
  pred = model.predict(input_data)
  pred = pred.reshape((1, horizon, n_features))
  pred_df = pd.DataFrame(pred[0], columns=column_names)
  pred_df.index = pd.date_range(start='2020-01-01', periods=horizon, freq='MS')
  pred_feb = pred_df.loc['2020-02-01']
  pred_denorm = denormalize_data(pred_feb, norm_params, normalization)
  pred_denorm = pred_denorm.reset_index()
  pred_denorm.columns = ['product_id', 'tn']
  # display(pred_denorm)
  # # Esto no creo que sea necesario
  # predicciones = filter_data(data_pred1_denorm, data_productos_a_predecir)

  filename = f"{split_strategy}_{model_name}_win{window_size}_batch{batch_size}_{normalization}_{loss}.csv"

  if export_csv:
    pred_denorm.to_csv(filename, header=True, index=False)

  # print(filename)

  return pred_denorm['tn']
##########################################################################
def to_kaggle(serie, name='kaggle_submission'):
  serie.columns = ['product_id', 'tn']
  serie.to_csv(f'{name}.csv', header=True, index=False)
##########################################################################
def sumar_predicciones(df1, df2):
    # Asegúrate de que las columnas necesarias estén en los DataFrames
    if 'product_id' not in df1.columns or 'tn' not in df1.columns:
        raise ValueError("df1 debe contener las columnas 'product_id' y 'tn'")
    if 'product_id' not in df2.columns or 'tn' not in df2.columns:
        raise ValueError("df2 debe contener las columnas 'product_id' y 'tn'")

    # Suma los valores de 'tn' para cada 'product_id' de ambos DataFrames
    result = df1.set_index('product_id').add(df2.set_index('product_id'), fill_value=0).reset_index()

    return result
# ##########################################################################
# # Boostea los productos de Health Care cuya predicciones tienen mucho error
# def HC_boost(predicciones_serie, boost=-0.5):
#     boost_mask = ['20006', '20007', '20008', '20009', '20010', '20012', '20014', '20015']

#     # Convertir el índice a string si no lo es
#     predicciones_serie.index = predicciones_serie.index.astype(str)

#     # Aplicar el boost a los valores en la máscara
#     predicciones_serie.loc[boost_mask] = predicciones_serie.loc[boost_mask] * (1 + boost)

#     return predicciones_serie
# ##########################################################################

In [18]:
# ##########################################################################
# def generate_predictions(data_norm, data_norm_params, export_csv): # Verificar
# # def generate_predictions(export_csv): # Viejo
#   data_norm_array = data_norm.values
#   column_names = data_norm.columns
#   input_data = data_norm_array[-window_size:].reshape((1, window_size, n_features))
#   pred = model.predict(input_data)
#   pred = pred.reshape((1, horizon, n_features))
#   pred_df = pd.DataFrame(pred[0], columns=column_names)
#   pred_df.index = pd.date_range(start='2020-01-01', periods=horizon, freq='MS')
#   pred_feb = pred_df.loc['2020-02-01']
#   pred_1_denorm = denormalize_series(pred_feb, data_norm_params, normalization=normalization)
#   data_pred1_denorm = pred_1_denorm.reset_index()
#   data_pred1_denorm.columns = ['product_id', 'tn']
#   # Esto no creo que sea necesario
#   predicciones = filter_data(data_pred1_denorm, data_productos_a_predecir)

#   # Ojo con esto, caja negra. Vuelve a predecir usando lo predicho antes.
#   input_data2 = np.append(input_data[:, 1:, :], pred[:, 0, :].reshape(1, 1, n_features), axis=1)
#   pred2 = model.predict(input_data2)
#   pred2 = pred2.reshape((1, horizon, n_features))
#   pred2_df = pd.DataFrame(pred2[0], columns=column_names)
#   pred2_df.index = pd.date_range(start='2020-02-01', periods=horizon, freq='MS')
#   pred2_feb = pred2_df.loc['2020-02-01']
#   pred_2_denorm = denormalize_series(pred2_feb, data_norm_params, normalization=normalization)
#   data_pred2_denorm = pred_2_denorm.reset_index()
#   data_pred2_denorm.columns = ['product_id', 'tn']
#   predicciones2 = filter_data(data_pred2_denorm, data_productos_a_predecir)

#   filename = f"{split_strategy}_{model_name}_win{window_size}_batch{batch_size}_{normalization}_{loss}.csv"
#   filename2 = f"RECURRENTE_{split_strategy}_{model_name}_win{window_size}_batch{batch_size}_{normalization}_{loss}.csv"

#   if export_csv:
#     predicciones.to_csv(filename, header=True, index=False)

#   # predicciones.to_csv(filename, header=True, index=False)
#   # predicciones2.to_csv(filename2, header=True, index=False)
#   print(filename)

#   return predicciones # Probar con predicciones 2

In [19]:
###############################################################################
### OLD
###############################################################################
# def generate_predictions(data_norm, data_norm_params):

#     # Convertir el DataFrame a un array de NumPy
#     data_norm_array = data_norm.values

#     # Extraer la última ventana de datos de 2019 para predecir enero de 2020
#     column_names = data_norm.columns  # Obtener los nombres de las columnas

#     # Extraer los últimos `window_size` meses de 2019
#     input_data = data_norm_array[-window_size:].reshape((1, window_size, n_features))

#     # Predecir enero de 2020
#     pred_january = model.predict(input_data)

#     # Asegurarse de que la predicción tenga la forma correcta
#     pred_january = pred_january.reshape((1, n_future, n_features))

#     # Crear un DataFrame para la predicción de enero de 2020
#     pred_january_df = pd.DataFrame(pred_january[0], columns=column_names)
#     pred_january_df.index = pd.date_range(start='2020-01-01', periods=n_future, freq='MS')

#     # Actualizar la ventana de entrada para predecir febrero de 2020
#     input_data = np.append(input_data[:, 1:, :], pred_january[:, 0, :].reshape(1, 1, n_features), axis=1)

#     # Predecir febrero de 2020
#     pred_february = model.predict(input_data)

#     # Asegurarse de que la predicción tenga la forma correcta
#     pred_february = pred_february.reshape((1, n_future, n_features))

#     # Crear un DataFrame para la predicción de febrero de 2020
#     pred_february_df = pd.DataFrame(pred_february[0], columns=column_names)
#     pred_february_df.index = pd.date_range(start='2020-02-01', periods=n_future, freq='MS')

#     # Obtener la predicción de febrero de 2020
#     pred_1 = pred_january_df.loc['2020-02-01']

#     # Desnormalizar la predicción
#     pred_1_denorm = denormalize_series(pred_1, data_norm_params, normalization=normalization)
#     data_pred1_denorm = pred_1_denorm.reset_index()
#     data_pred1_denorm.columns = ['product_id', 'tn']
#     predicciones = filter_data(data_pred1_denorm, data_productos_a_predecir)

#     # Crear el nombre del archivo
#     filename = f"{split_strategy}_{model_name}_win{window_size}_batch{batch_size}_{normalization}_{loss}_epochs{epochs}.csv"
#     predicciones.to_csv(filename, header=True, index=False)

#     print(filename)

#     return predicciones
##########################################################################

## Complete Sales

In [20]:
def complete_sales(df1, df2):
    # Crear un rango de fechas desde enero 2017 hasta diciembre 2019
    fechas_completas = pd.date_range(start='2017-01-01', end='2019-12-01', freq='MS')

    # Reindexar el DataFrame para asegurar que todas las fechas estén presentes
    df1 = df1.reindex(fechas_completas, fill_value=pd.NA)

    # Obtener los product_id del primer DataFrame (nombres de las columnas)
    product_ids_df1 = df1.columns.tolist()

    # Obtener los product_id del segundo DataFrame (valores en la columna 'product_id')
    product_ids_df2 = df2['product_id'].tolist()

    # Identificar los product_id que faltan en df1
    product_ids_faltantes = [pid for pid in product_ids_df2 if pid not in product_ids_df1]

    # Crear un DataFrame con las columnas faltantes y valores NaN
    df_faltantes = pd.DataFrame(index=df1.index, columns=product_ids_faltantes)

    # Concatenar el DataFrame original con el DataFrame de faltantes
    df_resultante = pd.concat([df1, df_faltantes], axis=1)

    return df_resultante

## Callbacks

In [21]:
#############################################################################
def MyCallbacks(patience):
    """
    Devuelve una lista de callbacks para el entrenamiento del modelo.

    Parameters:
    patience (int): Número de épocas a esperar para ver una mejora en 'val_loss' antes de detener el entrenamiento.

    Returns:
    list: Lista de callbacks de Keras.
    """
    early_stop = EarlyStopping(monitor='val_loss', patience=patience, restore_best_weights=True)
    return [early_stop]

In [22]:
#############################################################################
#### VIEJO
# #############################################################################
# class MAEThresholdCallback(Callback):
#     def __init__(self, threshold=0.15):
#         super(MAEThresholdCallback, self).__init__()
#         self.threshold = threshold

#     def on_epoch_end(self, epoch, logs=None):
#         val_mae = logs.get('val_mae')
#         if val_mae is not None and val_mae <= self.threshold:
#             print(f'\nEpoch {epoch+1}: Validation MAE has reached {val_mae:.4f}, stopping training.')
#             self.model.stop_training = True

# def MyCallbacks(model_name, patience):
#     earlystop = tf.keras.callbacks.EarlyStopping('val_loss', patience=patience, restore_best_weights=True)
#     # checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=f'ckpts/{model_name}-' + '{epoch:02d}-{val_loss:.4f}.h5', monitor='val_loss')
#     # mae_threshold_callback = MAEThresholdCallback(threshold=0.015)
#     return [earlystop] #, checkpoint] #, mae_threshold_callback]

# #############################################################################

## Model Design

In [23]:
#############################################################################
def compile_model(new_model, loss, optimizer):
    new_model.compile(optimizer=optimizer, loss=loss, metrics=['mae'])
    print(new_model.summary())
    return new_model
#############################################################################
def MyModel(loss, optimizer, window_size, horizon, n_features):
    new_model = tf.keras.Sequential([
        tf.keras.layers.InputLayer((window_size, n_features)),
        tf.keras.layers.Conv1D(filters=64, kernel_size=3, activation='relu', padding='causal'),
        tf.keras.layers.MaxPooling1D(pool_size=2),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32, return_sequences=True)),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(16, return_sequences=False)),
        tf.keras.layers.Dropout(0.4),
        tf.keras.layers.Dense(n_features * horizon, activation='relu'),
        tf.keras.layers.Reshape((horizon, n_features)),
    ])
    return compile_model(new_model, loss, optimizer)
#############################################################################

In [24]:
# #############################################################################
# def compile_model(new_model, loss, optimizer):
#   new_model.compile(optimizer=optimizer, loss=loss, metrics=['mse'])
#   print(new_model.summary())
#   return new_model
# #############################################################################
# def MyModel(loss, optimizer, window_size, n_future, n_features):
#     new_model = tf.keras.Sequential([
#         tf.keras.layers.InputLayer((window_size, n_features)),
#         tf.keras.layers.Conv1D(filters=64, kernel_size=3, activation='relu', padding='causal'),
#         tf.keras.layers.MaxPooling1D(pool_size=2),
#         tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32, return_sequences=True)),
#         tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(16, return_sequences=False)),
#         tf.keras.layers.Dropout(0.4),
#         tf.keras.layers.Dense(n_features * n_future, activation='relu'),
#         tf.keras.layers.Reshape((n_future, n_features)),
#         ])
#     return compile_model(new_model, loss, optimizer)

## Model Train

In [25]:
# Repetimos la prediccion n veces
def model_train(epochs, iteraciones):
  pred_list = []

  for i in range(iteraciones):
    print(f'Interacion {i+1}')
    history = model.fit(
        data_train_windowed,
        validation_data = data_valid_windowed,
        callbacks = callbacks,
        verbose=0,
        epochs=epochs)

    predicted = generate_predictions(data_valid_norm, norm_params, False)
    print(f'Prediction: {predicted}')
    pred_list.append(generate_predictions(data_valid_norm, norm_params, False))

    plot_history(history)
  print('Producto: ', producto)
  print(f'Mean Loss across all splits: {np.mean(pred_list)}')
  print(f'Median Loss across all splits: {np.median(pred_list)}')

  return(np.mean(pred_list), np.median(pred_list))

# Pipelines

## Data Preprocessing

In [98]:
# # data
# # data_productos
# # data_stocks
# # data_productos_a_predecir

# Pre-Processing Variables
split_strategy = 'S1'
window_size = 6
horizon = 2
# n_features = len(data_productos_a_predecir)
batch_size = 32
normalization = 'MinMax'
# n_splits = 5 # No mas, la usabamos con el TimeSeriesSplit

# # Model Variables: Dentro de cada Experimento, no son generales
# model_name = 'CAT1'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 10

# Si quiero solo las ventas de los clientes activos
data = filter_active_clients_data(data)

# Si quiero las ventas solo de los productos a predecir
data = filter_data(data, data_productos_a_predecir.reset_index())

# Matriz reducida, agrupadas las ventas por mes y producto
data_grouped = group_data(data, 'product_id')



# data_grouped.sum(axis=1).plot()
# plt.show()

# # Easto seguramente haya que sacarlo de aca
# data_filled = fill_nulls(data_grouped)
# data_norm, data_norm_params = normalize_data(data_filled, normalization=normalization)
# data_norm.index.freq = pd.infer_freq(data_norm.index) # No se si es necesario
# # print(data_norm.info())

data_grouped

,20001,20002,20003,20004,20005,20006,20007,20008,20009,20010,20011,20012,20013,20014,20015,20016,20017,20018,20019,20020,20021,20022,20023,20024,20025,...,21201,21202,21207,21209,21212,21214,21218,21222,21224,21226,21227,21233,21244,21245,21246,21248,21252,21256,21259,21262,21263,21265,21266,21267,21276
periodo,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2017-01-01,913.98,537.35,1028.23,538.23,471.80,510.56,440.79,508.61,372.59,431.28,481.02,458.86,414.76,243.53,296.28,279.36,317.32,330.52,397.38,287.71,324.66,307.77,199.91,306.55,158.38,...,NaN,0.72,NaN,NaN,NaN,NaN,0.74,0.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-01,786.01,491.66,718.16,490.30,509.12,577.45,614.78,597.18,464.54,509.95,367.11,483.71,330.61,269.15,362.96,245.99,366.39,262.45,389.07,279.81,246.36,314.64,179.30,289.35,182.08,...,NaN,0.21,NaN,NaN,NaN,NaN,0.07,0.17,0.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-01,1289.85,823.66,884.10,455.72,501.44,832.96,818.17,907.05,445.76,691.47,685.99,619.08,612.34,407.92,436.46,461.64,556.56,546.80,264.84,364.83,447.85,517.31,234.15,248.50,307.44,...,NaN,0.29,NaN,NaN,NaN,NaN,0.13,0.02,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-01,1062.05,509.85,493.73,475.24,624.92,543.16,723.72,604.39,327.21,582.66,477.18,730.52,497.93,590.16,377.65,454.20,563.41,564.10,254.78,401.96,435.28,372.21,215.50,368.22,122.51,...,NaN,0.25,NaN,NaN,NaN,NaN,0.22,0.26,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-01,1475.61,818.47,601.90,496.60,456.64,772.72,819.23,803.47,429.02,709.72,794.00,688.82,561.88,399.82,429.33,510.24,527.33,627.52,248.35,600.15,451.94,449.40,315.12,519.05,266.31,...,NaN,0.11,NaN,NaN,NaN,NaN,0.21,0.46,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-01,1475.53,934.40,696.70,544.39,469.67,654.07,832.06,710.01,539.21,848.99,549.58,845.57,505.54,557.50,499.25,332.32,472.59,334.19,238.16,453.82,412.08,426.49,288.56,227.93,333.37,...,NaN,0.14,NaN,NaN,NaN,NaN,0.10,0.09,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-01,1027.88,840.80,774.12,538.90,588.73,638.72,731.88,547.18,395.48,564.94,545.13,665.06,471.47,657.08,442.57,421.83,338.31,439.01,302.49,447.79,579.28,352.18,254.42,390.42,329.42,...,NaN,0.16,NaN,NaN,NaN,NaN,0.12,0.10,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-01,1246.18,611.14,842.01,1005.91,1020.37,758.14,851.04,813.25,401.18,635.61,510.04,626.69,370.60,470.27,566.86,460.62,588.97,530.24,403.76,330.68,460.93,340.51,328.27,336.23,215.02,...,NaN,0.27,NaN,NaN,NaN,NaN,0.28,0.20,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-01,1300.53,1050.42,1419.56,1164.22,1139.42,553.11,875.33,630.20,447.85,784.25,676.22,695.12,542.12,524.67,453.45,548.75,420.87,453.67,517.12,678.11,720.99,444.77,494.33,582.24,346.93,...,NaN,0.17,NaN,NaN,NaN,NaN,0.12,0.11,0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-01,1428.89,854.51,1877.86,1169.57,810.83,815.32,889.42,685.37,259.94,995.51,651.81,675.22,602.39,517.49,418.24,493.07,466.34,418.06,805.37,581.57,556.39,593.65,481.08,425.32,428.42,...,NaN,0.13,NaN,NaN,NaN,NaN,0.08,0.09,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01,1547.21,733.12,1361.17,815.09,720.45,700.32,748.39,607.49,229.87,689.57,625.77,377.31,508.07,359.57,420.56,573.19,409.54,433.89,657.69,451.44,493.85,433.66,382.82,427.37,325.57,...,NaN,0.24,0.53,NaN,0.27,NaN,0.09,0.07,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-01,1037.21,793.53,942.19,540.96,295.74,505.06,595.23,523.08,500.01,488.99,558.98,650.98,366.70,606.40,469.38,595.76,324.48,308.84,602.67,309.45,350.70,418.16,267.25,322.60,256.51,...,NaN,0.05,0.31,NaN,0.54,NaN,0.07,0.07,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01,1146.61,975.47,871.57,408.06,401.81,448.45,616.45,452.77,261.23,283.84,336.54,320.92,323.30,347.64,415.09,383.67,275.85,326.77,241.04,287.55,241.45,263.43,220.82,220.25,240.54,...,NaN,0.17,0.37,NaN,0.23,NaN,0.05,0.12,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,1012.00,698.15,762.86,472.80,352.05,556.75,361.67,485.54,421.93,448.72,588.37,475.66,370.34,451.37,423.98,479.26,363.75,324.11,606.66,361.39,227.85,360.45,244.81,213.23,247.70,...,NaN,0.03,0.24,NaN,0.19,NaN,0.03,0.05,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-01,1805.69,947.94,754.97,460.52,505.67,829.82,1181.98,748.51,434.74,600.59,504.55,807.83,578.12,516.09,498.30,513.87,479.80,500.72,310.77,338.33,379.53,301.92,232.38,400.21,320.88,...,NaN,0.23,0.33,NaN,0.18,NaN,0.17,0.07,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-01,1220.76,983.00,742.03,575.29,462.82,729.49,645.10,666.22,291.23,167.29,551.25,564.37,439.73,436.49,275.56,466.70,522.70,519.83,280.46,368.78,90.16,85.68,170.28,289.16,301.64,...,NaN,0.21,0.19,NaN,0.18,NaN,0.19,0.09,0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-01,1245.05,1088.21,747.32,590.78,580.67,835.45,685.92,685.77,370.34,197.49,471.61,658.27,483.25,523.35,357.40,514.91,513.06,376.86,340.74,446.74,145.35,173.55,302.40,338.92,258.85,...,NaN,0.33,0.21,NaN,0.26,NaN,0.14,0.10,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01,1144.82,1019.41,624.55,418.96,525.46,437.21,757.58,529.03,390.74,219.79,419.36,500.02,418.51,467.77,295.88,534.18,297.79,398.57,253.17,337.21,438.67,94.35,269.31,371.76,272.20,...,NaN,0.27,0.23,NaN,0.21,NaN,0.10,0.08,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-01,1465.04,968.68,642.44,622.39,470.78,503.24,683.22,518.58,380.20,310.79,298.92,557.50,386.90,535.80,314.50,404.96,344.51,321.14,347.31,312.01,322.66,58.04,251.15,240.88,209.14,...,NaN,0.25,0.20,NaN,0.16,NaN,0.17,0.10,0.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-01,1793.03,1150.87,923.35,883.40,803.61,600.02,680.81,540.85,510.29,543.39,188.52,571.36,428.33,550.86,392.07,459.93,366.09,367.66,373.53,227.66,249.59,52.29,322.78,336.99,303.47,...,NaN,0.26,0.18,NaN,0.16,NaN,0.21,0.09,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-01,1424.30,949.98,898.98,898.67,712.89,469.37,427.16,425.27,575.33,442.22,188.32,314.43,226.95,371.97,490.72,453.43,282.54,279.32,406.50,174.95,367.02,68.42,338.62,259.48,243.03,...,NaN,0.16,0.11,1.10,0.11,NaN,0.08,0.06,0.06,0.92,NaN,1.16,NaN,1.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-01,2287.11,1367.22,1296.88,763.16,851.29,505.14,538.45,523.13,588.85,567.16,176.22,417.77,457.47,321.76,550.44,451.55,326.03,159.19,544.01,163.45,381.62,112.97,224.18,274.43,323.91,...,0.18,0.08,0.13,0.11,0.24,NaN,0.08,0.07,0.06,0.10,NaN,0.09,0.53,0.09,0.52,0.45,NaN,0.52,0.51,0.46,0.51,NaN,NaN,NaN,NaN
2018-11-01,1804.60,1751.03,1173.20,772.71,433.01,540.53,442.19,416.35,543.53,396.37,282.75,338.81,359.89,557.79,441.92,317.44,276.05,362.66,518.26,186.29,299.23,197.21,442.30,179.93,213.42,...,0.13,0.01,0.11,0.10,0.13,NaN,0.03,0.04,0.05,0.12,NaN,0.04,0.34,0.04,0.34,0.35,NaN,0.35,0.38,0.36,0.38,NaN,NaN,NaN,NaN
2018-12-01,1481.09,999.54,729.99,563.88,344.44,398.19,358.65,420.21,545.81,278.55,306.96,320.83,331.62,359.74,448.07,211.91,251.98,317.89,420.82,183.75,217.11,250.01,233.07,180.07,98.69,...,0.42,0.02,0.12,0.03,0.10,NaN,0.03,0.03,0.08,0.10,NaN,0.02,0.03,0.02,0.04,0.06,NaN,0.03,0.03,0.06,0.03,NaN,NaN,NaN,NaN
2019-01-01,1273.02,1261.29,952.48,496.01,335.32,560.81,373.83,534.85,460.74,357.19,298.54,265.92,478.75,286.91,321.14,241.72,316.70,319.06,356.52,272.72,191.82,256.80,225.66,202.57,152.87,...,0.31,0.17,0.17,0.04,0.10,NaN,0.02,0.06,0.09,0.12,NaN,0.06,0.05,0.06,0.03,0.03,NaN,0.04,0.04,0.02,0.04,NaN,NaN,NaN,NaN
2019-02-01,1256.08,1037.76,746.21,427.44,386.31,461.71,362.66,459.18,361.21,322.12,425.34,321.30,373.11,331.42,420.75,284.37,301.42,261.39,314.15,209.42,207.65,234.14,164.21,208.17,217.54,...,0.32,0.04,0.18,0.10,0.11,NaN,0.06,0.04,0.08,0.10,NaN,0.03,0.05,0.03,0.04,0.05,NaN,0.04,0.04,0.04,0.05,NaN,NaN,NaN,NaN
2019-03-01,1461.67,1076.76,631.33,575.68,459.56,488.91,569.01,445.60,519.53,492.73,450.99,424.27,474.92,408.04,330.85,287.70,312.32,285.32,238.98,372.10,312.68,308.63,251.43,303.98,246.63,...,0.25,0.08,0.19,0.25,0.25,NaN,0.03,0.08,0.11,0.19,NaN,0.09,0.05,0.10,0.04,0.03,0.35,0.03,0.04,0.04,0.04,0.02,0.02,0.20,0.11
2019-04-01,1640.79,1281.08,553.87,448.48,593.30,818.26,508.32,396.30,383.97,437.44,372.74,485.20,385.91,560.46,310.82,301.05,383.36,489.83,264.27,308.64,234.79,142.87,245.13,182.87,256.53,...,0.01,0.14,0.13,0.07,0.00,NaN,0.04,0.05,0.08,0.09,NaN,0.11,0.02,0.10,0.02,0.03,0.22,0.01,0.02,0.01,0.02,0.30,0.30,0.12,0.10
2019-05-01,1627.90,1030.41,582.72,569.19,835.55,520.84,390.47,476.07,575.94,389.89,285.62,327.84,412.31,436.57,309.60,296.35,428.91,362.07,210.73,240.82,296.12,390.90,254.29,184.36,144.42,...,0.29,0.24,0.18,0.07,0.23,NaN,0.19,0.14,0.05,0.06,NaN,0.02,0.02,0.04,0.02,0.02,0.35,0.02,0.02,0.01,0.02,0.17,0.17,0.19,0.09
2019-06-01,1105.80,921.67,656.25,638.77,847.29,440.44,531.24,558.59,604.89,577.24,447.62,252.02,384.05,450.31,462.79,318.61,255.52,280.77,259.23,241.13,363.24,354.09,244.92,194.81,249.25,...,0.04,0.06,0.06,0.15,0.10,NaN,0.03,0.04,0.25,0.17,0.60,0.47,0.01,0.04,0.01,0.01,0.08,0.01,0.01,0.01,0.01,0.04,0.05,0.06,0.03
2019-07-01,1674.14,1058.81,700.12,492.92,694.19,323.22,569.92,515.77,713.14,444.91,425.57,423.28,581.66,522.12,470.95,311.65,229.78,220.04,223.55,330.87,218.96,333.45,288.94,262.70,226.13,...,0.50,0.08,0.13,0.25,0.11,NaN,0.08,0.04,0.09,0.14,0.18,0.13,0.05,0.08,0.03,0.02,0.03,0.02,0.04,0.03,0.03,0.03,0.06,0.07,0.00
2019-08-01,1250.23,808.07,631.62,471.78,514.87,258.47,302.82,230.42,516.62,197.67,286.72,296.99,188.72,260.08,275.95,183.37,163.07,125.39,229.06,234.82,183.68,239.35,258.88,190.19,197.79,...,0.00,0.08,0.00,0.12,0.18,NaN,0.04,0.04,0.05,0.14,0.62,0.08,0.04,0.07,0.02,0.02,0.13,0.03,0.03,0.02,0.03,0.02,0.01,0.04,0.01
2019-09-01,1652.14,1087.55,946.78,744.37,826.87,403.52,365.57,324.55,555.39,501.03,398.84,327.15,479.12,494.58,403.49,358.77,250.95,226.85,339.71,293.58,304.30,303.54,352.24,275.82,294.41,...,0.40,0.06,0.33,0.14,0.11,0.34,0.07,0.08,0.06,0.21,0.19,0.02,0.06,0.01,0.07,0.01,0.11,0.00,0.01,0.02,0.01,0.02,0.03,0.02,0.02
2019-10-01,1553.44,1979.12,1068.26,1030.60,958.98,517.71,440.02,444.75,555.59,430.06,421.65,280.04,520.29,509.14,470.25,267.89,295.66,274.86,448.38,238.51,244.57,166.00,369.63,201.08,143.91,...,0.36,0.04,0.11,0.12,0.10,0.21,0.04,0.07,0.06,0.13,0.22,0.04,0.01,0.03,0.01,0.01,0.10,0.01,0.02,0.02,0.02,0.11,0.12,0.10,0.02
2019-11-01,1390.14,1419.92,932.08,693.63,561.97,385.12,349.90,382.14,708.18,451.24,291.53,354.28,330.25,411.38,321.48,300.02,209.55,248.00,364.28,316.85,271.14,340.72,272.65,157.80,240.46,...,0.33,0.03,0.11,0.17,0.09,0.83,0.03,0.03,0.06,0.17,0.13,0.04,0.03,0.02,0.04,0.03,0.12,0.03,0.03,0.03,0.03,0.07,0.07,0.04,0.03
2019-12-01,1503.30,1086.82,887.07,633.11,585.11,416.60,389.85,194.86,494.29,345.30,391.81,172.26,311.14,271.49,294.76,272.81,216.44,141.48,346.33,263.30,202.86,210.26,177.71,269.43,240.00,...,0.18,0.05,0.12,0.08,0.11,0.24,0.03,0.02,0.07,0.05,0.42,0.04,0.01,0.02,0.02,0.01,0.09,0.01,0.01,0.02,0.01,0.05,0.05,0.02,0.01

## Experimentos Individuales

### 06/18 - Pruebas contra Diciembre 2019

### 06/17 - Ventas por dia

In [27]:
# data = data_bkp.copy()
# data.sort_values(by=['periodo', 'customer_id', 'product_id'])
# data = data[['customer_id', 'product_id', 'tn']]
# data = data.merge(data_productos_a_predecir_con_categorias, left_on='product_id', right_on='product_id', how='left')
# data.set_index(data_bkp.index, inplace=True)
# data.sort_index(inplace=True)
# data.sort_values(by=['periodo', 'customer_id', 'product_id'], inplace=True)


# # # Vemos los nulos por variable
# # print(data_merged.isnull().sum())


# mask_cat1_null = data['cat1'].isnull()
# # display(data_merged[mask_cat1_null])

# # # Ninguno de estos productos nos interesa, no estan en nuestas categorias
# # print(data_productos_a_predecir_con_categorias.index.isin(data_merged[mask_cat1_null]['product_id']).sum())
# # print(data_merged.shape[0])

# # Elimino los nulos
# data.dropna(subset=['cat1'], inplace=True)
# # print("Nulos:", data.isnull().sum())
# # print(data.shape)


# # Contar las ocurrencias de cada combinación de periodo, customer_id y product_id
# repeated_entries = data.groupby(['periodo', 'customer_id', 'product_id']).size()

# # Filtrar combinaciones que aparecen más de una vez
# repeated_entries = repeated_entries[repeated_entries > 1]

# # Mostrar las combinaciones repetidas
# print(repeated_entries)

# # sin combinaciones repetidas

# print(data.shape)
# display(data.head())

In [62]:
# ############################################################################################################
# # # Verificamos los clientes Activos
# ############################################################################################################
# # Generamos la matriz de presencia
# presencia_clientes = data.groupby(['periodo', 'customer_id']).size().unstack(fill_value=0)
# presencia_clientes[presencia_clientes > 0] = 1  # Convertimos las cantidades en 1 para indicar presencia
# mask_active_clients = presencia_clientes.loc['2019-10':'2019-12'].sum(axis=0) == 3

# # Configuramos el tamaño de la figura
# plt.figure(figsize=(15, 10))

# # Creamos el heatmap
# sns.heatmap(presencia_clientes, cmap='viridis', cbar=False, linewidths=.5)

# # Añadimos los títulos y etiquetas
# plt.title('Presencia de Clientes por Mes')
# plt.xlabel('Clientes')
# plt.ylabel('Mes')

# # Mostramos el gráfico
# plt.show()
# ############################################################################################################

# # Verificamos que el cliente 10039 no compro en el ultimo semestre, como algunos otros.
# # Maybe podemos removerlos del experimento, ya que sabemos que no van a volver a comprar
# display(data.groupby(['customer_id', 'periodo']).count()[['product_id']].loc[['10039']])


# presencia_clientes = data.groupby(['periodo', 'customer_id']).size().unstack(fill_value=0)
# presencia_clientes[presencia_clientes > 0] = 1

# # Vemos 173 clientes, no compraron en diciembre
# print(presencia_clientes.loc['2019-12'].sum(axis=0).value_counts())


# # Y que de esos 173, 111 tampoco compraron en noviembre
# print(presencia_clientes.loc['2019-11':'2019-12'].sum(axis=0).value_counts())

# # y de esos 111, 98 tampoco compraron en Octubre
# print(presencia_clientes.loc['2019-10':'2019-12'].sum(axis=0).value_counts())

# Concluimos que los 111 clientes que no nos compraron en Octibre, Noviembre ni Diciembre
# no son mas nuestros clietnes, y damos de baja sus ventas, ya que es muy probable
# que no nos vuelvan a comprar, aunque si un porcentje sera absosrvido por la competencia


# print(mask_active_clients.shape)
# display(mask_active_clients.head())

In [29]:
# ####################################################################################################################
# # 2024-06-07: Excluyo las ventas de los clientes marcados como desactivados
# # Ventas de clientes que no compraron en los ultimos dos meses, eliminadas
# active_data = data[data['customer_id'].isin(mask_active_clients[mask_active_clients].index)]

# # Pivotear los datos
# data_grouped_active_clients = active_data.pivot_table(
#     index='periodo',
#     columns='product_id',
#     values='tn',
#     aggfunc='sum'
# )

# # Asegurarnos de que el índice esté en el formato correcto
# data_grouped_active_clients.index = pd.to_datetime(data_grouped_active_clients.index)

# # Ordenar el índice si fuera necesario
# data_grouped_active_clients = data_grouped_active_clients.sort_index()
# ####################################################################################################################
# # Si quiero usar el Dataset con las ventas de los clientes desactivados excluidas
# # Y trasca le completo los nulos
# data_grouped = fill_nulls(data_grouped_active_clients)

# # Relacion entre el promedio anual anterior, y el febrero siguiente
# data_2017_mean = pd.Series(data_grouped.loc['2017'].mean(axis=0), name='2017_mean')
# data_2018_mean = pd.Series(data_grouped.loc['2018'].mean(axis=0), name='2018_mean')
# data_2019_mean = pd.Series(data_grouped.loc['2019'].mean(axis=0), name='2019_mean')
# feb_2018 = pd.Series(data_grouped.loc['2018-02'].T.squeeze(), name='Feb_2018')
# feb_2019 = pd.Series(data_grouped.loc['2019-02'].T.squeeze(), name='Feb_2019')

# data = pd.concat([data_2017_mean, feb_2018, data_2018_mean, feb_2019, data_2019_mean], axis=1)

# # display(data.head())

# # Calculamos cuanto represetan las ventas de Febrero, con respecto al Mean de todo el ano anterior
# ratio_2017 = pd.Series(data['Feb_2018'] / data['2017_mean'], name='Ratio_2017')
# ratio_2018 = pd.Series(data['Feb_2019'] / data['2018_mean'], name='Ratio_2018')
# data_ratios = pd.concat([ratio_2017, ratio_2018], axis=1)

# # Nos enfocamos solo en los primeros 40 productos, los mas importantes
# data_ratios[:40].plot(figsize=(25, 6))
# plt.show()

# # display(data_ratios.head())
# # Vemos el huevo del producto #32, ya que no tenemos ventas todos los meses
# # Vemos como son bastantes parecidas
# # Se ve que el producto 19 fue suplementado por el 22 en las ventas del 2018


# # Si el ratio del producto vendido entre el promedo del Ano y Febrero del ano siguiente es menor al 3%, sigue manteniendo ese ratio
# data_ratios['diff3'] = (abs(data_ratios['Ratio_2017'] - data_ratios['Ratio_2018']) <= 0.03)
# data_final = pd.concat([data_ratios, data_2019_mean], axis=1)

# # Inflation Multiplier, dejar en 1 para que no modifique las predicciones
# inflation = .92
# data_final['tn'] = data_final.apply(lambda row: row['2019_mean'] * row['Ratio_2018'] * inflation if row['diff3'] else row['2019_mean'], axis=1)

# # display(data_final.head())

# # Formateo y exporto a Kaggle.
# to_kaggle(data_final['tn'].reset_index(), name='modelo_loco_3diff_inlf92_active3')

# # Guardo los productos que tengo que mejorar, los que los ratio de ventas con Febrero sobrepasan el 3%
# mask_mejorar = ~ data_final['diff3']
# ####################################################################################################################
# # Comentar esta linea para que no se excluyan los clientes desactivados
# data_grouped = data_grouped_active_clients

# # Igual que Diciembre 2020 (ultimos datos)
# pred_202012 = data_grouped.loc['2019-12'].T.reset_index()
# pred_202012.columns = ['product_id', 'tn']

# # pred_202012.to_csv('BASELINE-pred_202012.csv', header=True, index=False)

# # Promedio ultimos 3 meses
# pred_mean3 = data_grouped.loc['2019-10':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean3.columns = ['product_id', 'tn']

# # pred_mean3.to_csv('BASELINE-pred_mean3.csv', header=True, index=False)

# # Promedio ultimos 6 meses
# pred_mean6 = data_grouped.loc['2019-07':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean6.columns = ['product_id', 'tn']

# # pred_mean6.to_csv('BASELINE-pred_mean6.csv', header=True, index=False)

# # Promedio ultimos 12 meses
# pred_mean12 = data_grouped.loc['2019-01':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean12.columns = ['product_id', 'tn']

# # pred_mean12.to_csv('BASELINE-pred_mean12_act3.csv', header=True, index=False)
# pred_mean12

### 06/17 - Concatenamos Estadistica con Redes Neuronales

In [30]:
# # De la noebook anterior

# # Relacion entre el promedio anual anterior, y el febrero siguiente
# data_2017_mean = pd.Series(data_grouped.loc['2017'].mean(axis=0), name='2017_mean')
# data_2018_mean = pd.Series(data_grouped.loc['2018'].mean(axis=0), name='2018_mean')
# data_2019_mean = pd.Series(data_grouped.loc['2019'].mean(axis=0), name='2019_mean')
# feb_2018 = pd.Series(data_grouped.loc['2018-02'].T.squeeze(), name='Feb_2018')
# feb_2019 = pd.Series(data_grouped.loc['2019-02'].T.squeeze(), name='Feb_2019')

# data = pd.concat([data_2017_mean, feb_2018, data_2018_mean, feb_2019, data_2019_mean], axis=1)

# # display(data.head())

# # Calculamos cuanto represetan las ventas de Febrero, con respecto al Mean de todo el ano anterior
# ratio_2017 = pd.Series(data['Feb_2018'] / data['2017_mean'], name='Ratio_2017')
# ratio_2018 = pd.Series(data['Feb_2019'] / data['2018_mean'], name='Ratio_2018')
# data_ratios = pd.concat([ratio_2017, ratio_2018], axis=1)

# # # Nos enfocamos solo en los primeros 40 productos, los mas importantes
# # data_ratios[:40].plot(figsize=(25, 6))
# # plt.show()

# # display(data_ratios.head())
# # Vemos el huevo del producto #32, ya que no tenemos ventas todos los meses
# # Vemos como son bastantes parecidas
# # Se ve que el producto 19 fue suplementado por el 22 en las ventas del 2018


# # Si el ratio del producto vendido entre el promedo del Ano y Febrero del ano siguiente es menor al 3%, sigue manteniendo ese ratio
# data_ratios['diff3'] = (abs(data_ratios['Ratio_2017'] - data_ratios['Ratio_2018']) <= 0.03)
# data_final = pd.concat([data_ratios, data_2019_mean], axis=1)

# # Inflation Multiplier, dejar en 1 para que no modifique las predicciones
# inflation = 0.90
# data_final['tn'] = data_final.apply(lambda row: row['2019_mean'] * row['Ratio_2018'] * inflation if row['diff3'] else row['2019_mean'], axis=1)

# # display(data_final.head())

# # # Formateo y exporto a Kaggle.
# # to_kaggle(data_final['tn'].reset_index(), name='modelo_loco_3diff_inlf90')

# # Guardo los productos que tengo que mejorar, los que los ratio de ventas con Febrero sobrepasan el 3%
# mask_mejorar = ~ data_final['diff3']

In [31]:
# # Predecimos las ventas de productos que no fueron buenos usando la estadistica clasica

# #########################################################################################
# # # Viene de otro EDA, si da error hay que ejecutar ese analisis primero que genera esta variable
# # mask_mejorar = ~ data_final['diff3']

# products_list = mask_mejorar[mask_mejorar == True].index

# # Probamos con los datos de los clientes activos only
# data_grouped_filled = fill_nulls(data_grouped_active_clients)

# # Probamos reemplazando la crisis de Agosto 2019 por Julio + 10% (visto en el EDA)
# data_grouped_filled.drop(index='2019-08', axis=1, inplace=True)
# data_agosto_2019_jul_plus10 = data_grouped_filled.loc['2019-07']*1.1
# data_agosto_2019_jul_plus10.index = pd.to_datetime(['2019-08-01'])
# data_grouped_filled = pd.concat([data_grouped_filled, data_agosto_2019_jul_plus10]).sort_index()
# #########################################################################################

# # Inicializamos el vector de predicciones
# vector_predictions = data_productos_a_predecir.copy()
# vector_predictions['tn'] =0
# # vector_predictions = vector_predictions.squeeze()

# for product in products_list[:50]:
#   print(product)

#   # Modificar el valor del filtro, para analizar otros Productos. Ojo que hay productos que no tenemos todos los anos y pincha
#   data_product = data_grouped[product]

#   # Jugamos con esto aca, para ver el tema de la validacion en el entrenamiento
#   window_size = 12
#   batch_size = 1


#   data_train, data_valid = split_data(data_product, window_size)
#   data_train_norm, data_valid_norm, norm_params = normalize_data(data_train, data_valid, normalization)
#   # print(data_train.index)
#   # print(data_valid.index)
#   data_train_windowed = windowed_dataset(data_train_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
#   data_valid_windowed = windowed_dataset(data_valid_norm, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)


#   # Model Variables
#   model_name = 'xx'
#   loss = 'mse'
#   optimizer = 'adam'
#   patience = 30
#   epochs = 300
#   n_features = data_train.shape[1]



#   callbacks = MyCallbacks(patience)
#   model = MyModel(loss, optimizer, window_size, horizon, n_features)

#   history = model.fit(
#       data_train_windowed,
#       validation_data = data_valid_windowed,
#       callbacks = callbacks,
#       verbose=0,
#       epochs=epochs)

#   # plot_history(history)

#   predictions = generate_predictions_2(model, data_valid_norm, norm_params)
#   # plot_predictions_dec2019(data_product, predictions)

#   # Vamos sumando en el vector de acum
#   value_to_add = predictions.loc['2020-02'].values[0]
#   vector_predictions.loc[predictions.name]+= value_to_add

# vector_predictions.to_csv('predicciones_win12.csv')

### 06/17 - Errores contra Diciembre 2019 (WIP)

In [32]:
# # Analizamos las series de los productos mas vendidos, pero esta vez testeamos contra los ultimos dos meses del dataset Nov y Dev 2019

# # # Inicializamos el vector de predicciones
# # vector_predictions = data_productos_a_predecir.copy()
# # vector_predictions['tn'] =0


# # Modificar el valor del filtro, para analizar otros Productos. Ojo que hay productos que no tenemos todos los anos y pincha
# data_product = data_grouped['20003']

# # Jugamos con esto aca, para ver el tema de la validacion en el entrenamiento
# window_size = 6
# batch_size = 1


# data_train, data_valid = split_data_dec2019(data_product, window_size)
# data_train_norm, data_valid_norm, norm_params = normalize_data(data_train, data_valid, normalization)
# # print(data_train.index)
# # print(data_valid.index)
# data_train_windowed = windowed_dataset(data_train_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
# data_valid_windowed = windowed_dataset(data_valid_norm, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)


# # Model Variables
# model_name = 'xx'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 300
# n_features = data_train.shape[1]



# callbacks = MyCallbacks(patience)
# model = MyModel(loss, optimizer, window_size, horizon, n_features)

# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=1,
#     epochs=epochs)

# plot_history(history)

# predictions = generate_predictions_2(model, data_valid_norm, norm_params)
# # plot_predictions_dec2019(data_product, predictions)
# display(predictions)

### 06/17 - Ratio Febrero con Promedio de anos anteriores

In [33]:
# # Si quiero usar el Dataset con las ventas de los clientes desactivados excluidas
# # Y trasca le completo los nulos
# data_grouped = fill_nulls(data_grouped_active_clients)

# # Relacion entre el promedio anual anterior, y el febrero siguiente
# data_2017_mean = pd.Series(data_grouped.loc['2017'].mean(axis=0), name='2017_mean')
# data_2018_mean = pd.Series(data_grouped.loc['2018'].mean(axis=0), name='2018_mean')
# data_2019_mean = pd.Series(data_grouped.loc['2019'].mean(axis=0), name='2019_mean')
# feb_2018 = pd.Series(data_grouped.loc['2018-02'].T.squeeze(), name='Feb_2018')
# feb_2019 = pd.Series(data_grouped.loc['2019-02'].T.squeeze(), name='Feb_2019')

# data = pd.concat([data_2017_mean, feb_2018, data_2018_mean, feb_2019, data_2019_mean], axis=1)

# # display(data.head())

# # Calculamos cuanto represetan las ventas de Febrero, con respecto al Mean de todo el ano anterior
# ratio_2017 = pd.Series(data['Feb_2018'] / data['2017_mean'], name='Ratio_2017')
# ratio_2018 = pd.Series(data['Feb_2019'] / data['2018_mean'], name='Ratio_2018')
# data_ratios = pd.concat([ratio_2017, ratio_2018], axis=1)

# # Nos enfocamos solo en los primeros 40 productos, los mas importantes
# data_ratios[:40].plot(figsize=(25, 6))
# plt.show()

# # display(data_ratios.head())
# # Vemos el huevo del producto #32, ya que no tenemos ventas todos los meses
# # Vemos como son bastantes parecidas
# # Se ve que el producto 19 fue suplementado por el 22 en las ventas del 2018


# # Si el ratio del producto vendido entre el promedo del Ano y Febrero del ano siguiente es menor al 3%, sigue manteniendo ese ratio
# data_ratios['diff3'] = (abs(data_ratios['Ratio_2017'] - data_ratios['Ratio_2018']) <= 0.03)
# data_final = pd.concat([data_ratios, data_2019_mean], axis=1)

# # Inflation Multiplier, dejar en 1 para que no modifique las predicciones
# inflation = .92
# data_final['tn'] = data_final.apply(lambda row: row['2019_mean'] * row['Ratio_2018'] * inflation if row['diff3'] else row['2019_mean'], axis=1)

# # display(data_final.head())

# # Formateo y exporto a Kaggle.
# to_kaggle(data_final['tn'].reset_index(), name='modelo_loco_3diff_inlf92_active3')

# # Guardo los productos que tengo que mejorar, los que los ratio de ventas con Febrero sobrepasan el 3%
# mask_mejorar = ~ data_final['diff3']

### 06/17 - Error Analysis: Predicciones contra Diciembre 2019

### 06/16 - Error Analysis

In [34]:
# # Analizamos las series de los productos mas vendidos, vemos si las redes neuronales pueden entenderlas

# # Modificar el valor del filtro, para analizar otros Productos. Ojo que hay productos que no tenemos todos los anos y pincha
# data_product = data_grouped['20024']


# data_train, data_valid = split_data_test(data_product)
# data_train_norm, data_valid_norm, norm_params = normalize_data(data_train, data_valid, normalization)
# data_train_windowed = windowed_dataset(data_train_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
# data_valid_windowed = windowed_dataset(data_valid_norm, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)

# # Model Variables
# model_name = 'xx'
# loss = 'mse'
# optimizer = 'adam'
# patience = 20
# epochs = 200
# n_features = data_train.shape[1]


# # Jugamos con esto aca, para ver el tema de la validacion en el entrenamiento
# window_size = 3
# batch_size = 1


# callbacks = MyCallbacks(patience)
# model = MyModel(loss, optimizer, window_size, horizon, n_features)

# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# plot_history(history)

# predictions = generate_predictions_2(model, data_valid_norm, norm_params)
# plot_predictions(data_product, predictions)

### 06/15 - BASELINE + TOP Productos

In [35]:
# # # PARA LOCAL ONLY, DEMORA MUCHO

# #############################################################################################
# #############################################################################################
#  # El EDA tiene que estar arriba
# mask_product_id_sold36 = (data_grouped > 0).sum(axis=0)==36
# # print('Productos vendidos los 36 meses:', mask_product_id_sold36.sum())
# # mask_product_id_sold12 = (data_grouped > 0).sum(axis=0)<=12
# # print('Productos vendidos en 12 meses o menos:', mask_product_id_sold12.sum())

# # Marco los que se vendieron los 36 meses
# mask_products_id_top74 = mask_product_id_sold36

# # No me interesan los +75
# mask_products_id_top74.loc['20085':] = False
# mask_products_id_top74.sum()
# #############################################################################################
# #############################################################################################
# top_productos = data_productos_a_predecir[mask_products_id_top74].index

# # # Prueba con los dos primeros
# # top_productos = top_productos[:2]


# # # Continuacion a mano desde producto 20017
# # mask_17 = mask_products_id_top74.loc['20017':]
# # data_17 = data_productos_a_predecir.loc['20017':]
# # data_17[mask_17]
# # top_productos = data_17[mask_17].index

# data_prod_pred = data_productos_a_predecir.copy()
# data_prod_pred['mean'] = 0
# data_prod_pred['median'] = 0

# for producto in top_productos:
#   # print(f'Producto: {producto}')
#   data_grouped_loc = group_data(data, 'product_id')[producto]
#   # display(data_grouped_loc)

#   data_train, data_valid = split_data(data_grouped_loc)
#   data_train = pd.DataFrame(data_train)
#   data_valid = pd.DataFrame(data_valid)
#   # display(data_train.head())

#   data_train_norm, data_valid_norm, norm_params = normalize_data(data_train, data_valid, normalization)
#   # display(data_valid_norm.head())

#   data_train_windowed = windowed_dataset(data_train_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
#   data_valid_windowed = windowed_dataset(data_valid_norm, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)

#   # Model Variables
#   model_name = 'M1'
#   loss = 'mse'
#   optimizer = 'adam'
#   patience = 20
#   epochs = 100
#   interaciones = 10
#   n_features = data_train.shape[1]
#   # print(n_features)


#   callbacks = MyCallbacks(patience)
#   model = MyModel(loss, optimizer, window_size, horizon, n_features)

#   # Promedio 810
#   mean, median = model_train(epochs, interaciones)
#   data_prod_pred.loc[producto, ['mean', 'median']] = mean, median

# # data_prod_pred.to_csv('predicciones_top74.csv', header=True, index=True)

### 06/15 - Nuevos BASELINES

In [36]:
# ####################################################################################################################
# # 2024-06-07: Excluyo las ventas de los clientes marcados como desactivados
# # Ventas de clientes que no compraron en los ultimos dos meses, eliminadas
# active_data = data[data['customer_id'].isin(mask_active_clients[mask_active_clients].index)]

# # Pivotear los datos
# data_grouped_active_clients = active_data.pivot_table(
#     index='periodo',
#     columns='product_id',
#     values='tn',
#     aggfunc='sum'
# )

# # Asegurarnos de que el índice esté en el formato correcto
# data_grouped_active_clients.index = pd.to_datetime(data_grouped_active_clients.index)

# # Ordenar el índice si fuera necesario
# data_grouped_active_clients = data_grouped_active_clients.sort_index()
# ####################################################################################################################

# # Comentar esta linea para que no se excluyan los clientes desactivados
# data_grouped = data_grouped_active_clients

# # Igual que Diciembre 2020 (ultimos datos)
# pred_202012 = data_grouped.loc['2019-12'].T.reset_index()
# pred_202012.columns = ['product_id', 'tn']

# # pred_202012.to_csv('BASELINE-pred_202012.csv', header=True, index=False)

# # Promedio ultimos 3 meses
# pred_mean3 = data_grouped.loc['2019-10':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean3.columns = ['product_id', 'tn']

# # pred_mean3.to_csv('BASELINE-pred_mean3.csv', header=True, index=False)

# # Promedio ultimos 6 meses
# pred_mean6 = data_grouped.loc['2019-07':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean6.columns = ['product_id', 'tn']

# # pred_mean6.to_csv('BASELINE-pred_mean6.csv', header=True, index=False)

# # Promedio ultimos 12 meses
# pred_mean12 = data_grouped.loc['2019-01':'2019-12'].T.mean(axis=1).reset_index()
# pred_mean12.columns = ['product_id', 'tn']

# pred_mean12.to_csv('BASELINE-pred_mean12_act4.csv', header=True, index=False)

### 06/12 - Walk Forward Validation
- Son muy pocos datos los que tenemos, no funciona bien

In [37]:
# # # # #########################################################################
# # # # TimeSeriesSplit
# # # # #########################################################################

# # TimeSeriesSplit: 3 splits para ejemplo
# tscv = TimeSeriesSplit(n_splits=n_splits)

# # Almacenar las pérdidas para cada split
# split_losses = []

# # Inicializo el vector de predicciones
# predicciones_all = data_productos_a_predecir.copy()
# predicciones_all['tn'] = 0

# # Probar si esto se puede sacar del bucle
# model_name = 'M1'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 500
# callbacks = MyCallbacks(patience)
# model = MyModel(loss, optimizer, window_size, horizon, n_features)


# # Iterar sobre cada split
# for i, (train_index, test_index) in enumerate(tscv.split(data_norm)):
#     train_tscv = data_norm.iloc[train_index]
#     test_tscv = data_norm.iloc[test_index]
#     print('Train:\n', train_tscv.shape[0])
#     print('Test:\n', test_tscv.shape[0])


#     # Crear datasets de ventanas
#     data_train_wrangled = windowed_dataset(train_tscv.values, 'train', window_size, horizon, batch_size)
#     data_valid_wrangled = windowed_dataset(test_tscv.values, 'valid', window_size, horizon, batch_size)

#     # Check if datasets are empty and adjust if necessary
#     if len(list(data_train_wrangled)) == 0 or len(list(data_valid_wrangled)) == 0:
#       print(f"Warning: Empty dataset encountered for split {i+1}. Skipping this split.")
#       continue  # Skip to the next split

#     history = model.fit(
#     data_train_wrangled,
#     validation_data = data_valid_wrangled,
#     epochs=epochs,
#     verbose=2,
#     callbacks = callbacks)

#     # Evaluar el modelo en el conjunto de validación
#     val_loss = model.evaluate(data_valid_wrangled)
#     print(f'Split {i+1} - Loss: {val_loss}')
#     split_losses.append(val_loss)
#     plot_history(history)

#     predicciones_all = sumar_predicciones(predicciones_all, generate_predictions(False))


# # Promedio de las pérdidas en todos los splits. El axis es por si analizamos mas de una metrica
# avg_loss = np.mean(split_losses, axis=0)
# print(f'Average Loss across all splits: {avg_loss}')

# # Promedio las predicciones
# predicciones_final = data_productos_a_predecir.copy()
# predicciones_final['tn'] = predicciones_all['tn']/n_splits

# # Exporto el CSV para Kaggle
# filename = f"{split_strategy}_{model_name}_win{window_size}_batch{batch_size}_{normalization}_{loss}.csv"
# predicciones_final.to_csv(filename, header=True, index=False)
# print(filename)

### 06/11 - Agrupando por Categoria 1

In [38]:
# # Inicializo el vector de predicciones
# predictions_acum = data_productos_a_predecir.copy()
# predictions_acum['tn'] = 0
# # predictions_acum.set_index('product_id', inplace=True)
# predictions_acum = predictions_acum.squeeze()
# predictions_acum

# # Genero el vector de categorias
# categorias = data_productos_a_predecir_con_categorias.cat1.unique()

# # Creo un modelo para cada categoria 1
# for cat in categorias:
#   data_cat1 = filter_data_por_categoria(data_grouped, cat, 'cat1')
#   n_features = data_cat1.shape[1]
#   # display(data_cat1)
#   data_train_cat1, data_valid_cat1 = split_data(data_cat1)
#   print(f'Categoria {cat}: {data_train_cat1.shape}, {data_valid_cat1.shape}')
#   data_train_cat1_norm, data_valid_cat1_norm, data_norm_params = normalize_data(data_train_cat1, data_valid_cat1, normalization)
#   data_train_windowed = windowed_dataset(data_train_cat1_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
#   data_valid_windowed = windowed_dataset(data_train_cat1, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)

#   # Creo que tengo que llenar los huecos

#   # Model Variables
#   model_name = 'CAT1'
#   loss = 'mse'
#   optimizer = 'adam'
#   patience = 50
#   epochs = 500
#   callbacks = MyCallbacks(patience)
#   model = MyModel(loss, optimizer, window_size, horizon, n_features)

#   history = model.fit(
#       data_train_windowed,
#       validation_data = data_valid_windowed,
#       callbacks = callbacks,
#       verbose=0,
#       epochs=epochs)

#   plot_history(history)

# #   # Seleccionar los últimos x meses de data_train
# #   data_for_prediction = data_train_cat1[-window_size:]
# #   # Convierte los datos a un formato compatible con la función window_dataset
# #   data_for_prediction = data_for_prediction.values.reshape((1, window_size, n_features))
# #   predictions = model.predict(data_for_prediction)

# #   # # Convertir las predicciones a un DataFrame para desnormalizar
# #   predictions_df = pd.DataFrame(predictions[0], columns=data_train_cat1.columns)

# #   # # Desnormalizar las predicciones
# #   predictions_denorm_cat1 = denormalize_series(predictions_df, data_norm_params, normalization=normalization).iloc[1]

# #   # Voy sumando las predicciones de cada categoria
# #   predictions_acum = predictions_acum.add(predictions_denorm_cat1, fill_value=0)

# # # Exporto a formato Kaggle
# # predictions_acum_df = pd.DataFrame(predictions_acum).reset_index()
# # predictions_acum_df.columns = ['product_id', 'tn']
# # filename = f"{model_name}_{split_strategy}_win{window_size}_batch{batch_size}_{normalization}_{loss}.csv"
# # predictions_acum_df.to_csv(filename, header=True, index=False)
# # print(filename)

### 06/11 - Analisis del Error por Producto

In [39]:
# # # # NO FUNCIONA
# # # # # # #########################################################################
# # # # # # Train hasta 2019-10, para predecir 2019-12
# # # # # # #########################################################################
# split_data_2019
# data_filled = fill_nulls(data_grouped)
# data_train, data_valid, data_test = split_data_2019(data_filled)
# data_train = pd.DataFrame(data_train)
# data_valid = pd.DataFrame(data_valid)
# data_test = pd.DataFrame(data_test)
# print(data_train.shape, data_valid.shape, data_test.shape)


# data_train_norm, data_valid_norm, data_norm_params = normalize_data(data_train, data_valid, normalization)
# data_train_windowed = windowed_dataset(data_train_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
# data_valid_windowed = windowed_dataset(data_valid_norm, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size,)
# display(data_test)

# # Al hacer el split disitnto, hay que modificar esto sino me voy de rango creando las window
# # split_strategy = 'S1'
# # window_size = 3
# # horizon = 2
# # batch_size = 1
# # normalization = 'MinMax'

# # Model Variables
# model_name = 'ErrorAnalysis'
# loss = 'mse'
# optimizer = 'adam'
# patience = 20
# epochs = 200
# n_features = data_train.shape[1]

# callbacks = MyCallbacks(patience)
# model = MyModel(loss, optimizer, window_size, horizon, n_features)

# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# plot_history(history)

# # # No sirve para este caso, esta hardcodeada a Febrero 2020. Tengo que actualizar esta funcion
# # # generate_predictions(data_norm, data_norm_params)

# # # Seleccionar los últimos x meses de data_train
# # data_for_prediction = data_train[-window_size:]
# # # Convierte los datos a un formato compatible con la función window_dataset
# # data_for_prediction = data_for_prediction.values.reshape((1, window_size, n_features))
# # predictions = model.predict(data_for_prediction)

# # # Convertir las predicciones a un DataFrame para desnormalizar
# # predictions_df = pd.DataFrame(predictions[0], columns=data_train.columns)

# # # Desnormalizar las predicciones
# # predictions_denorm = denormalize_series(predictions_df, data_norm_params, normalization=normalization)

# # # Imprimir las predicciones desnormalizadas
# # # display(predictions_denorm)


# # # Genero las Series para plotear el error entre predicho y real. Armo un Dataframe
# # data_dec2019_pred = pd.Series(predictions_denorm.iloc[1], name='Pred')
# # data_dec2019_true = pd.Series(data_grouped.fillna(0).loc['2019-12-01'], name='True')
# # data_dec2019_error = pd.concat([data_dec2019_pred, data_dec2019_true], axis=1)

# # # Clusterizo por Categorias 1 y 2 de productos
# # data_productos_indexed = data_productos.drop_duplicates('product_id').set_index('product_id').sort_index()
# # data_dec2019_error_detail = data_dec2019_error.join(data_productos_indexed[['cat1', 'cat2', 'cat3']])

# # # Ploteo los Errores, con sus clusters
# # sns.scatterplot(data=data_dec2019_error_detail, x='Pred', y='True', hue='cat1')
# # plt.axline((0, 0), slope=1, color='r', linestyle='--')
# # plt.show()

# # # Verificamos que Categoria es la que engloba mas productos
# # print(data_productos['cat1'].value_counts())

# # # Productos con mayores diferencias en la prediccion
# # predictions_worst10 = abs(data_dec2019_pred - data_dec2019_true).sort_values(ascending=False).head(10)
# # display(pd.DataFrame(predictions_worst10).join(data_productos[['product_id', 'cat1']].set_index('product_id').sort_index()).rename(columns={0: 'tn_diff'}).sort_values(by='tn_diff', ascending=False))

# # # Ploteamos el error en las predicciones acumulaod por Categoria
# # pd.DataFrame(abs(data_dec2019_pred - data_dec2019_true).sort_values(ascending=False)).join(data_productos[['product_id', 'cat1']].set_index('product_id').sort_index()).rename(columns={0: 'tn_diff'}).groupby('cat1').sum().sort_values(by='tn_diff', ascending=False).plot(kind='bar')
# # plt.title('Diferencia en toneladas por Categoria')
# # plt.show()

- Vemos claramente como estsamos prediciendo mal los productos de Health Care, mas que nada los que predice entre 350 y 600, esta prediciendo bastante de menos.

### 06/10 - Cada cliente por separado

In [40]:
# # Esto lo corro en mi maquina local, en Colab se cuelga antes de terminar con los casi 600 clientes

# # Inicializo el vector de predicciones
# predicciones_all = data_productos_a_predecir.copy()
# predicciones_all['tn'] = 0

# # Probamos solo con los 3 primeros clientes
# # customers = data['customer_id'].unique()
# customers = ['10001', '10002', '10003']
# customers.sort()

# i = 0

# for customer in customers:
#   print('Vuelta: ', i)
#   i += 1
#   data_customer = data_filter.query('customer_id == @customer')
#   data_customer_grouped = group_data(data_customer, 'product_id')
#   data_customer_grouped_fixed = complete_sales(data_customer_grouped, data_productos_a_predecir)
#   # display(data_customer_grouped_fixed)
#   data_customer_filled = fill_nulls(data_customer_grouped_fixed) # Probar cual funciona mejor

#     # Probamos reemplazando la crisis de Agosto 2019 por el promedio en Julio y Septiembre. Maybe no funciona
#   data_customer_filled.drop(index='2019-08', axis=1, inplace=True)
#   data_agosto_2019 = data_customer_filled.loc[['2019-07', '2019-09']].mean().to_frame().transpose()
#   data_agosto_2019.index = pd.to_datetime(['2019-08-01'])
#   data_customer_filled = pd.concat([data_customer_filled, data_agosto_2019]).sort_index()

#   data_customer_norm, data_customer_norm_params = normalize_data(data_customer_filled, normalization=normalization)
#   data_customer_norm_train, data_customer_norm_valid = split_data(data_customer_norm)
#   data_train_windowed = windowed_dataset(data_customer_norm_train, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
#   data_valid_windowed = windowed_dataset(data_customer_norm_valid, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)

#   # Model Variables
#   model_name = 'M1'
#   loss = 'mse'
#   optimizer = 'adam'
#   patience = 30
#   epochs = 500
#   callbacks = MyCallbacks(patience)
#   model = MyModel(loss, optimizer, window_size, horizon, n_features)

#   history = model.fit(
#       data_train_windowed,
#       validation_data = data_valid_windowed,
#       callbacks = callbacks,
#       verbose=0,
#       epochs=epochs)

#   plot_history(history)


#   predicciones = generate_predictions(data_customer_norm, data_customer_norm_params, False)
#   predicciones_all = sumar_predicciones(predicciones_all, predicciones)

# predicciones_all.to_csv('predicciones_local.csv', header=True, index=False)

### 06/10 - No Split

In [41]:
# # # #########################################################################
# # # Sin Splitear los datos, usando todo para entrenar
# # # #########################################################################

# data_train_windowed = windowed_dataset(data_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
# # data_train_windowed = window_dataset(data_norm, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)

# # Model Variables
# model_name = 'M1'
# # loss = 'mse'
# # optimizer = 'adam'
# # patience = 30
# epochs = 10

# model = MyModel(loss, optimizer, window_size, horizon, n_features)


# history = model.fit(
#     data_train_windowed,
#     # validation_data = data_valid_windowed,
#     # callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# plot_history(history)
# predicciones = generate_predictions(True)
# predicciones

### 06/10 - Split #2

In [42]:
# # # #########################################################################
# # # Train desde 2017-01 hasta 2019-06
# # # #########################################################################

# data_train, data_valid = split_data_2(data_norm)
# data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)

# # Model Variables
# model_name = 'M1'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 500

# callbacks = MyCallbacks(model_name, patience)
# model = MyModel(loss, optimizer, window_size, n_future, n_features)


# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# generate_predictions()

### 06/10 - Split #1

In [43]:
# # # # #########################################################################
# # # # Train 2018 & 2018, Validation 2019 (10/06)
# # # # #########################################################################
# data_train, data_valid = split_data_1(data_norm)
# data_train_windowed = windowed_dataset(data_train, data_split='train', window_size=window_size, horizon=horizon, batch_size=batch_size)
# data_valid_windowed = windowed_dataset(data_valid, data_split='valid', window_size=window_size, horizon=horizon, batch_size=batch_size)

# # Model Variables
# model_name = 'M1'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 500

# callbacks = MyCallbacks(patience)
# model = MyModel(loss, optimizer, window_size, horizon, n_features)

# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# plot_history(history)
# preddicciones = generate_predictions(True)
# preddicciones

### Univariate: Product 20001

In [44]:
# data = data_filled[['20001']]

# # Parámetros
# window_size = 6  # Tamaño de la ventana de tiempo
# n_future = 2  # Número de pasos futuros a predecir
# batch_size = 32
# n_splits = 5  # Número de divisiones para validación "walk forward"
# n_features = data.shape[1]  # Número de características en el conjunto de datos

# data_norm, data_norm_params = normalize_data(data, normalization=normalization)
# data_norm

### Proof of Concept

In [45]:
# #########################################################################
# # New Pipeline (09/06)
# #########################################################################
# data_norm, data_norm_params = normalize_data(data_filled, normalization=normalization)
# # data_train, data_valid = split_data(data_norm) # Split pendiente
# data_train = data_norm
# print(data_train.shape)
# # print(data_valid.shape)
# data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# # data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)


# #########################################################################
# # Old Pipeline (08/06)
# #########################################################################
# # data_all = group_data(data, data_productos_a_predecir)
# # data_all_norm, data_all_norm_params = normalize_data(data_all, normalization=normalization)
# # data_all_norm['20001'].describe()
# # data_train, data_valid = split_data_all(data_all_norm)
# # print(data_train.shape)
# # print(data_valid.shape)
# # data_train = data_all_norm
# # data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# # data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)


# #########################################################################
# # Modelo
# #########################################################################
# data_train, data_valid = split_data_1(data_norm)
# data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)

# # Model Variables
# model_name = 'M1'
# loss = 'mse'
# optimizer = 'adam'
# patience = 30
# epochs = 500

# callbacks = MyCallbacks(model_name, patience)
# model = MyModel(loss, optimizer, window_size, n_future, n_features)

# history = model.fit(
#     data_train_windowed,
#     validation_data = data_valid_windowed,
#     callbacks = callbacks,
#     verbose=2,
#     epochs=epochs)

# generate_predictions()

# EDA

## Objetivos Preeliminares
* [x] Algunos productos por promedio, otros por red neuronal. Identificar cuales
 (los que no tengo ventas todos o la mayoria de los meses)
*[x] Saber como fueron las ventas en cada Agosto, comparado con Julio y Septiembre del mismo ano. Esto para poder sortear el problema de la no ventas en Agosto 2018
*[x] Entender la distribucion de ventas por categoria
*[ ] Entender la distribucion de los errores por categoria
*[ ] entrenar en 2017 y 2018, y predecir feb 2019, teniendo en cuenta el trend negativo de alguna manera
*[ ] Saber si la serie de todos los productos por categoria, son similares
*[ ] Dividr las ventas por tipo de calidad de producto (Alto, Media Bajo), pedirlo si no esta
*[ ] Ver el error por producto, para saber cual analizar individualmente
*[ ] Identificar los productos mas importantes, separarlos por categoria, y fijarse si las series son similares. No con todos, maybe los 150 orimeros solametne
*[ ] Probar Unvariado en cada producto?

In [46]:
# # Plot de Ventas General
# data.groupby(['periodo'])['tn'].sum().plot()
# plt.show()

# # # Deidentificacionde los productos y clientes
# # # Evidentemente cuando el profe deidentifico los customers, lo hizo asignandoles ID secuenciales al listado ordenado por la suma de ventas(tn)
# # print('Listado de Clientes, ordenados por la sumatoria de ventas en tn:\n', group_data(data, 'customer_id').sum(), '\n')

# # # Lo mismo cuando deidentifico a los productos, solo que esta vez empezo desde 20000
# # print('Listado de Productos, ordenados por la sumatoria de ventas en tn:\n', group_data(data, 'product_id').sum())

* Vemos la Tendencia Negativa
* Tambien vemos la seasonalidad anual, y mas chica puede que tabien
* Tambien se ve la caida en 2019-08, ya que decidimos no vender ese mes

## Top 74

In [47]:
# # # data
# # # data_productos
# # # data_stocks
# # # data_productos_a_predecir


# mask_product_id_sold36 = (data_grouped > 0).sum(axis=0)==36
# print('Productos vendidos los 36 meses:', mask_product_id_sold36.sum())
# mask_product_id_sold12 = (data_grouped > 0).sum(axis=0)<=12
# print('Productos vendidos en 12 meses o menos:', mask_product_id_sold12.sum())

In [48]:
# # Ajustar la opción para mostrar más filas
# pd.set_option('display.max_rows', None)

# # mask_product_id_sold36[:76]

* Vamos a ver de el TOP 74 (hasta ID 84) de los productos mas vendidos, y solo los product_id 20032 y 20049 no se vendieron los 36 meses

In [49]:
# # Analizamos esos casos en particular
# data_grouped.loc[:, ['20032', '20049']].plot(title='Productos Top75 que no se vendieron los 36 meses')
# plt.show()

* Uno se empezo a vender en 2019-02, y el otro 2017-08

In [50]:
# # Hacemos el CumSum de cada producto
# SUM_TOT = data_grouped.sum(axis=0).sum()
# product_id_32_sum = data_grouped.sum(axis=0).loc['20032']/SUM_TOT
# product_id_49_sum = data_grouped.sum(axis=0).loc['20049']/SUM_TOT

# (data_grouped.sum(axis=0)/SUM_TOT).loc[:'20084'].sum() - product_id_32_sum - product_id_49_sum

* De los 74 productos mas vendidos (menos 32 y 49), disponemos de ventas los 36 meses
* Esos 74 productos representan un %66 de las Toneladas totales vendidas

In [51]:
# # Marco los que se vendieron los 36 meses
# mask_products_id_top74 = mask_product_id_sold36

# # No me interesan los +75
# mask_products_id_top74.loc['20085':] = False
# mask_products_id_top74.sum()

## Analisis Agosto 2019

In [52]:
# data_grouped.loc['2017-06':'2017-10'].sum(axis=1).plot(title='Agosto crece-crece en 2017')
# plt.show()

# data_grouped.loc['2018-06':'2018-10'].sum(axis=1).plot(title='Agosto crece-decrece en 2018')
# plt.show()

* Pareciera ser que siempre sube un 10% con respecto al Julio anterior

## Analysis por Categoria

In [53]:
# # Genero el vector de categorias
# categorias = data_productos_a_predecir_con_categorias.cat1.unique()

# tn_TOT = data_grouped.sum().sum()

# for cat in categorias:
#   data_cat1 = filter_data_por_categoria(data_grouped, cat, 'cat1')
#   n_features = data_cat1.shape[1]
#   cat_tot = np.round(data_cat1.sum().sum() / tn_TOT, 2)
#   print(f'{cat}, {data_cat1.shape}, {cat_tot}')

* La categoria con mas productos es PC con 444
* Pero la que mas vende en toneladas es HC, con un 61% del total

## Analisis Ventas en los Febreros

In [54]:
# # En 2017

# data_2017 =data_grouped.loc['2017'].mean(axis=0)
# feb_2017 = data_grouped.loc['2017-02']

# # # Ploteamos 2017
# # fig, ax = plt.subplots(figsize=(10, 6))
# # # Ploteamos promedio del 2017
# # data_2017[:50].plot(ax=ax, label='Promedio 2017')
# # # Ploteamos Febrero 2017
# # feb_2017.T[:50].plot(ax=ax, label='Febrero 2017')
# # ax.legend()
# # plt.show()
# # # Vemos como el promedio anual y las ventas de Feb tienen una cierta relacion

# # Calculamos el ratio que Febrero corresponde al promedio anual
# diff_2017 = pd.Series(((data_2017- feb_2017)/feb_2017).T.squeeze(), name='diff')

# # Lo joineamos a las categorias
# diff_2017_cat = pd.concat([diff_2017, data_productos_a_predecir_con_categorias[['cat1', 'cat2']]], axis=1)

# # Analizamos
# diff_2017_cat.groupby('cat1')['diff'].mean().plot(kind='bar')
# plt.title('Ratio ventas Proemdio Anual sobre Febrero en 2017')
# plt.show()

# # display(diff_cat.sort_values(by='diff', ascending=False).head(30))
# # Vemos que ciertos productos de Personal Care no siguen el patron
# # Esto habra sido un problema puntual en 2017, el profe habia comentaso lo de las cremas?
# # Lo que si nos interesa es ver que HC y FOODS estan cerca del 0.5

In [55]:
# # En 2018

# data_2018 =data_grouped.loc['2018'].mean(axis=0)
# feb_2018 = data_grouped.loc['2018-02']


# # Calculamos el ratio que Febrero corresponde al promedio anual
# diff_2018 = pd.Series(((data_2018 - feb_2018)/feb_2018).T.squeeze(), name='diff')

# # Lo joineamos a las categorias
# diff_2018_cat = pd.concat([diff_2018, data_productos_a_predecir_con_categorias[['cat1', 'cat2']]], axis=1)

# # Analizamos
# diff_2018_cat.groupby('cat1')['diff'].mean().plot(kind='bar')
# plt.title('Ratio ventas Proemdio Anual sobre Febrero en 2018')
# plt.show()


# # HC y FOODS estan cerca del 0.5, como antes
# # En FOODS paso algo raro, igual no vamos a analizarlo
# # REF es insifnificante (solo 17 productos)

In [56]:
# # En 2019
# data_2019 =data_grouped.loc['2019'].mean(axis=0)
# feb_2019 = data_grouped.loc['2019-02']


# # Calculamos el ratio que Febrero corresponde al promedio anual
# diff_2019 = pd.Series(((data_2019 - feb_2019)/feb_2019).T.squeeze(), name='diff')

# # Lo joineamos a las categorias
# diff_2019_cat = pd.concat([diff_2019, data_productos_a_predecir_con_categorias[['cat1', 'cat2']]], axis=1)

# # Analizamos
# diff_2019_cat.groupby('cat1')['diff'].mean().plot(kind='bar')
# plt.title('Ratio ventas Proemdio Anual sobre Febrero en 2019')
# plt.show()