<a href="https://colab.research.google.com/github/AndresMontesDeOca/Laboratorio3/blob/main/Kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Kaggle Experiments

## Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras.callbacks import Callback
from sklearn.preprocessing import MinMaxScaler, StandardScaler


import warnings
# warnings.filterwarnings('ignore', category=ValueWarning)
warnings.filterwarnings('ignore')

# Ajustar la opción para mostrar más filas
# pd.set_option('display.max_rows', None)

# Si también quieres mostrar más columnas
# pd.set_option('display.max_columns', None)


# Vamos a suprimir la notacion cientifica
pd.set_option("display.float_format", lambda x:"%.2f" %x)

## Carga Datos

In [2]:
# Code to read csv file into Colaboratory:
# !pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

################################# Datasets ###################################
# # Ventas
id = "158aOjqxaNO8l97yA6VWJkek_15YVLMhs"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('sell-in.txt')
data_ventas = pd.read_csv("sell-in.txt", sep="\t")
data_ventas['periodo'] = pd.to_datetime(data_ventas['periodo'], format='%Y%m')
data_ventas['customer_id'] = data_ventas['customer_id'].astype(str)
data_ventas['product_id'] = data_ventas['product_id'].astype(str)
data = data_ventas.copy()

# # Productos
id = "15JS_k86LS0sgJXma7BOVXWlyNcMwxdhE"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tb_productos.txt')
data_productos = pd.read_csv("tb_productos.txt", sep="\t")
data_productos['product_id'] = data_productos['product_id'].astype(str)

# # Stocks
id = "15EV-8f_U7onpA1AcTxxXeD-z8yVR4fQu"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('tb_stocks.txt')
data_stocks = pd.read_csv("tb_stocks.txt", sep="\t")
data_stocks['periodo'] = pd.to_datetime(data_stocks['periodo'], format='%Y%m')
data_stocks['product_id'] = data_stocks['product_id'].astype(str)

# # Productos a predecir
id = "15LjADctFVwjzQFJvfJGFTEdgZx9xCoId"
downloaded = drive.CreateFile({'id':id})
downloaded.GetContentFile('productos_a_predecir.txt')
data_productos_a_predecir = pd.read_csv("productos_a_predecir.txt", sep="\t")
data_productos_a_predecir['product_id'] = data_productos_a_predecir['product_id'].astype(str)

WARNING:root:pydrive is deprecated and no longer maintained. We recommend that you migrate your projects to pydrive2, the maintained fork of pydrive

## Filter Data

In [3]:
def filter_data(data_all, data_filter):
    # Filtrar el DataFrame 'data_all' para que solo contenga los 'product_id' presentes en 'data_filter'
    data_filtered = data_all[data_all['product_id'].isin(data_filter['product_id'])]

    return data_filtered

## Group Data

In [4]:
# Siempre como values toma las toneladas vendidas
def group_data(data, column):
  grouped_data = data.groupby([column, 'periodo']).sum().reset_index()

  # Crea un DataFrame pivoteado donde las filas son las fechas y las columnas son los product_id
  pivot_data = grouped_data.pivot(index='periodo', columns=column, values='tn')

  # Asegúrate de que los nombres de las columnas sean strings
  pivot_data.columns = pivot_data.columns.astype(str)

  # Restablece el índice para asegurarse de que 'product_id' no sea un índice compuesto
  pivot_data.columns.name = None

  return pivot_data

## Fill Nulls

In [5]:
# Jugar con esto, no se si esta bien
def fill_nulls(data):
  # Primero usamos bfill para completar las ordenes mas viejas con los valores de las ordenes mas recientes
  data = data.bfill()
  # Luego completamos con ceros los productos que dejamos de vender, o se discontinuaron
  data = data.fillna(0)

  return data

In [6]:
# # Filtrar el DataFrame 'data' para que solo contenga los 'product_id' presentes en 'data_productos_a_predecir'
# data_filtered = data[data['product_id'].isin(data_productos_a_predecir['product_id'])]


# # Agrupa los datos por 'product_id' y 'periodo', y calcula la suma de 'tn'
# grouped_data = data_filtered.groupby(['product_id', 'periodo']).sum().reset_index()

# # Crea un DataFrame pivoteado donde las filas son las fechas y las columnas son los product_id
# pivot_data = grouped_data.pivot(index='periodo', columns='product_id', values='tn')

# # Rellena los NaN
# pivot_data = pivot_data.fillna(0)

# # Asegúrate de que los nombres de las columnas sean strings
# pivot_data.columns = pivot_data.columns.astype(str)

# # Restablece el índice para asegurarse de que 'product_id' no sea un índice compuesto
# pivot_data.columns.name = None

# data_2019 = pivot_data.loc['2019']

## Normalize Data

In [7]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

def normalize_data(df, normalization="MinMax"):
    """
    Normaliza cada serie de tiempo (columna) de manera individual usando MinMax o Zscore.

    Args:
        df (pd.DataFrame): DataFrame con series de tiempo de distintos productos, cada columna es un producto.
        normalization (str): Tipo de normalización a aplicar. Opciones: "MinMax" o "Zscore". Default es "MinMax".

    Returns:
        normalized_df (pd.DataFrame): DataFrame con las series normalizadas.
        normalization_params (pd.DataFrame): DataFrame con los parámetros necesarios para desnormalizar cada columna.
            - Para "MinMax": valores min y max de cada columna.
            - Para "Zscore": valores mean y std de cada columna.
    """
    normalization_params = pd.DataFrame(columns=["product_id", "min", "max", "mean", "std"])
    normalized_df = pd.DataFrame(index=df.index)

    for column in df.columns:
        if normalization == "MinMax":
            scaler = MinMaxScaler()
            normalized_values = scaler.fit_transform(df[[column]]).flatten()
            new_params = pd.DataFrame({
                "product_id": [column],
                "min": [scaler.data_min_[0]],
                "max": [scaler.data_max_[0]],
                "mean": [None],
                "std": [None]
            })
            normalization_params = pd.concat([normalization_params, new_params], ignore_index=True)
            normalized_df[column] = normalized_values

        elif normalization == "ZScore":
            scaler = StandardScaler()
            normalized_values = scaler.fit_transform(df[[column]]).flatten()
            new_params = pd.DataFrame({
                "product_id": [column],
                "min": [None],
                "max": [None],
                "mean": [scaler.mean_[0]],
                "std": [scaler.scale_[0]]
            })
            normalization_params = pd.concat([normalization_params, new_params], ignore_index=True)
            normalized_df[column] = normalized_values

        else:
            raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")

    return normalized_df, normalization_params

def denormalize_series(normalized_series, normalization_params, normalization="MinMax"):
    """
    Desnormaliza una serie de tiempo usando los valores almacenados.

    Args:
        normalized_series (pd.Series or pd.DataFrame): Serie o DataFrame con los datos normalizados.
        normalization_params (pd.DataFrame): DataFrame con los parámetros necesarios para desnormalizar cada serie o columna.
            - Para "MinMax": valores min y max de cada serie o columna.
            - Para "Zscore": valores mean y std de cada serie o columna.
        normalization (str): Tipo de normalización a deshacer. Opciones: "MinMax" o "Zscore". Default es "MinMax".

    Returns:
        denormalized_series (pd.Series or pd.DataFrame): Serie o DataFrame con los datos desnormalizados.
    """
    if isinstance(normalized_series, pd.DataFrame):
        denormalized_df = pd.DataFrame(index=normalized_series.index)
        for column in normalized_series.columns:
            params = normalization_params[normalization_params["product_id"] == column]
            if normalization == "MinMax":
                min_value = params["min"].values[0]
                max_value = params["max"].values[0]
                denormalized_values = normalized_series[column] * (max_value - min_value) + min_value
            elif normalization == "ZScore":
                mean_value = params["mean"].values[0]
                std_value = params["std"].values[0]
                denormalized_values = normalized_series[column] * std_value + mean_value
            else:
                raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")
            denormalized_df[column] = denormalized_values
        return denormalized_df
    elif isinstance(normalized_series, pd.Series):
        product_ids = normalized_series.index
        denormalized_values = []
        for product_id in product_ids:
            params = normalization_params[normalization_params["product_id"] == product_id]
            if normalization == "MinMax":
                min_value = params["min"].values[0]
                max_value = params["max"].values[0]
                denormalized_value = normalized_series[product_id] * (max_value - min_value) + min_value
            elif normalization == "ZScore":
                mean_value = params["mean"].values[0]
                std_value = params["std"].values[0]
                denormalized_value = normalized_series[product_id] * std_value + mean_value
            else:
                raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")
            denormalized_values.append(denormalized_value)
        denormalized_series = pd.Series(denormalized_values, index=product_ids, name=normalized_series.name)
        return denormalized_series
    else:
        raise TypeError("normalized_series should be either a pandas Series or DataFrame")

In [8]:
# OLD: Esta mal, no tenia en cuenta la division por cero
# ##########################################################################################
# def normalize_data(df, normalization="MinMax"):
#     """
#     Normaliza cada serie de tiempo (columna) de manera individual usando MinMax o Zscore.

#     Args:
#         df (pd.DataFrame): DataFrame con series de tiempo de distintos productos, cada columna es un producto.
#         normalization (str): Tipo de normalización a aplicar. Opciones: "MinMax" o "Zscore". Default es "MinMax".

#     Returns:
#         normalized_df (pd.DataFrame): DataFrame con las series normalizadas.
#         normalization_params (dict): Diccionario con los parámetros necesarios para desnormalizar cada columna.
#             - Para "MinMax": valores min y max de cada columna.
#             - Para "Zscore": valores mean y std de cada columna.
#     """
#     normalization_params = {}
#     normalized_df = pd.DataFrame()

#     for column in df.columns:
#         if normalization == "MinMax":
#             min_value = df[column].min()
#             max_value = df[column].max()
#             normalization_params[column] = {"min": min_value, "max": max_value}
#             normalized_df[column] = (df[column] - min_value) / (max_value - min_value)

#         elif normalization == "ZScore":
#             mean_value = df[column].mean()
#             std_value = df[column].std()
#             normalization_params[column] = {"mean": mean_value, "std": std_value}
#             normalized_df[column] = (df[column] - mean_value) / std_value

#         else:
#             raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")

#     return normalized_df, normalization_params
# ##########################################################################################
# def denormalize_series(normalized_series, normalization_params, normalization="MinMax"):
#     """
#     Desnormaliza una serie de tiempo usando los valores almacenados.

#     Args:
#         normalized_series (pd.Series): Serie con los datos normalizados.
#         normalization_params (dict): Diccionario con los parámetros necesarios para desnormalizar cada serie.
#             - Para "MinMax": valores min y max de cada serie.
#             - Para "Zscore": valores mean y std de cada serie.
#         normalization (str): Tipo de normalización a deshacer. Opciones: "MinMax" o "Zscore". Default es "MinMax".

#     Returns:
#         denormalized_series (pd.Series): Serie con los datos desnormalizados.
#     """
#     denormalized_series = pd.Series(index=normalized_series.index)

#     for index in normalized_series.index:
#         if str(index) in normalization_params:
#             params = normalization_params[str(index)]
#         else:
#             raise KeyError(f"Index {index} not found in normalization parameters.")

#         if normalization == "MinMax":
#             min_value = params["min"]
#             max_value = params["max"]
#             denormalized_series[index] = normalized_series[index] * (max_value - min_value) + min_value

#         elif normalization == "ZScore":
#             mean_value = params["mean"]
#             std_value = params["std"]
#             denormalized_series[index] = normalized_series[index] * std_value + mean_value

#         else:
#             raise ValueError("Invalid normalization method. Choose 'MinMax' or 'ZScore'.")

#     return denormalized_series
# ##########################################################################################

## Split Data

In [9]:
# Hay que ponerse a invstigar sobre como hacer el Split en Series de Tiempo. Walk Fwd Validation?
def split_data(data):
  data_train = data.loc['2017-01':'2018-12']
  data_valid = data.loc['2019-01':'2019-12']
  return data_train, data_valid

## Window Data

In [10]:
def window_dataset(sequence, data_split, window_size, batch_size, n_future, shuffle_buffer=1000, seed=None):
    """Generates dataset windows for multi-step forecasting in a multivariable context.

    Args:
      sequence (array-like): Contains the values of the time series, where each element is an array of feature values.
      data_split (str): Specifies if the dataset is for training or validation/test.
      window_size (int): The number of time steps to include in the feature.
      batch_size (int): The batch size.
      n_future (int): The number of future steps to predict.
      shuffle_buffer (int): Buffer size to use for the shuffle method.
      seed (int, optional): Random seed for reproducibility.

    Returns:
      tf.data.Dataset: TF Dataset containing time windows.
    """

    # Generate a TF Dataset from the series values
    dataset = tf.data.Dataset.from_tensor_slices(sequence)

    # Window the data but only take those with the specified size
    dataset = dataset.window(window_size + n_future, shift=1, drop_remainder=True)

    # Flatten the windows by putting its elements in a single batch
    dataset = dataset.flat_map(lambda window: window.batch(window_size + n_future))

    # Create tuples with features and labels
    dataset = dataset.map(lambda window: (window[:window_size], window[window_size:]))

    if data_split == 'train':
        # Shuffle the training data to improve generalization
        dataset = dataset.shuffle(shuffle_buffer, seed=seed)
    else:
        # Cache the validation/test data for improved performance
        dataset = dataset.cache()

    # Create batches of windows and prefetch for performance
    dataset = dataset.batch(batch_size).prefetch(tf.data.AUTOTUNE)

    return dataset

## Callbacks

In [11]:
#############################################################################

class MAEThresholdCallback(Callback):
    def __init__(self, threshold=0.15):
        super(MAEThresholdCallback, self).__init__()
        self.threshold = threshold

    def on_epoch_end(self, epoch, logs=None):
        val_mae = logs.get('val_mae')
        if val_mae is not None and val_mae <= self.threshold:
            print(f'\nEpoch {epoch+1}: Validation MAE has reached {val_mae:.4f}, stopping training.')
            self.model.stop_training = True

def MyCallbacks(model_name, patience):
    earlystop = tf.keras.callbacks.EarlyStopping('val_loss', patience=patience, restore_best_weights=True)
    checkpoint = tf.keras.callbacks.ModelCheckpoint(filepath=f'ckpts/{model_name}-' + '{epoch:02d}-{val_loss:.4f}.h5', monitor='val_loss')
    mae_threshold_callback = MAEThresholdCallback(threshold=0.015)
    return [earlystop] #, checkpoint] #, mae_threshold_callback]

#############################################################################

## Model Design

In [12]:
#############################################################################
def compile_model(new_model, loss):
  new_model.compile(optimizer='adam', loss=loss, metrics=['mae']) # metrics=[tf.keras.metrics.MeanAbsolutePercentageError()])
  print(new_model.summary())
  return new_model
#############################################################################
def MyModel(loss, window_size, n_future, n_features):
    new_model = tf.keras.Sequential([
        tf.keras.layers.InputLayer((window_size, n_features)),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32, return_sequences=True)),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(16, return_sequences=False)),
        # tf.keras.layers.Dense(256, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(0.01)),
        tf.keras.layers.Dropout(0.4),
        tf.keras.layers.Dense(n_features * n_future, activation='relu'),
        tf.keras.layers.Reshape((n_future, n_features)),
        ])
    return compile_model(new_model, loss)

# Pipeline

## Data Preprocessing

In [28]:
# data
# data_productos
# data_stocks
# data_productos_a_predecir
window_size = 6
n_future = 2
batch_size = 1
normalization = 'MinMax'



# #########################################################################
# New Pipeline (09/06)
# #########################################################################
# # El filtrado de los productos que no me interesan, lo voy a hacer al final.
data = filter_data(data, data_productos_a_predecir)
data_grouped = group_data(data, 'product_id')
# data_grouped = data_grouped.loc['2019'] # Probamos solo con 2019
data_filled = fill_nulls(data_grouped)
data_norm, data_norm_params = normalize_data(data_filled, normalization=normalization)
# data_train, data_valid = split_data(data_norm) # Split pendiente
data_train = data_norm
print(data_train.shape)
# print(data_valid.shape)
data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)


# #########################################################################
# Old Pipeline (08/06)
# #########################################################################
# data_all = group_data(data, data_productos_a_predecir)
# data_all_norm, data_all_norm_params = normalize_data(data_all, normalization=normalization)
# data_all_norm['20001'].describe()
# data_train, data_valid = split_data_all(data_all_norm)
# print(data_train.shape)
# print(data_valid.shape)
# data_train = data_all_norm
# data_train_windowed = window_dataset(data_train, data_split='train', window_size=window_size, batch_size=batch_size, n_future=n_future)
# data_valid_windowed = window_dataset(data_valid, data_split='valid', window_size=window_size, batch_size=batch_size, n_future=n_future)

(36, 780)

## Model Train

In [29]:
# # # #########################################################################
# # # # Neural Netowrk Model
# # #########################################################################
model_name = 'TimeSeries'
loss = 'mse'
patience = 10
epochs = 10
n_features = data_norm.shape[1]

callbacks = MyCallbacks(model_name, patience)
model = MyModel(loss, window_size, n_future, n_features)

history = model.fit(
    data_train_windowed,
    # validation_data = data_valid_windowed,
    # validation_split=0.2,
    # callbacks = callbacks,
    epochs=epochs)

# plot_history(history, 4)
# save_model(model, model_name, history, data_test_wrangled)
# show_predictions(model, data_test_wrangled, data_test[n_past:])

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bidirectional_6 (Bidirecti  (None, 6, 64)             208128
 onal)

 bidirectional_7 (Bidirecti  (None, 32)                10368
 onal)

 dropout_3 (Dropout)         (None, 32)                0

 dense_3 (Dense)             (None, 1560)              51480

 reshape_3 (Reshape)         (None, 2, 780)            0

=================================================================
Total params: 269976 (1.03 MB)
Trainable params: 269976 (1.03 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None
Epoch 1/10
29/29 [==============================] - 12s 42ms/step - loss: 0.1732 - mae: 0.3223
Epoch 2/10
29/29 [==============================] - 1s 40ms/step - loss: 0.1022 - mae: 0.2409
Epoch 3/10
29/29 [==============================] - 1s 37ms/step - loss: 0.0832 - mae: 0.2160
Epoch 4/10
29/29 [==============================] - 1s 31ms/step - loss: 0.0742 - mae: 0.2037
Epoch 5/10
29/29 [==============================] - 0s 14ms/step - loss: 0.0713 - mae: 0.1978
Epoch 6/10
29/29 [==============================] - 0s 13ms/step - loss: 0.0676 - mae: 0.1940
Epoch 7/10
29/29 [==============================] - 0s 14ms/step - loss: 0.0643 - mae: 0.1902
Epoch 8/10
29/29 [==============================] - 0s 13ms/step - loss: 0.0631 - mae: 0.1874
Epoch 9/10
29/29 [==============================] - 0s 14ms/step - loss: 0.0617 - mae: 0.1860
Epoch 10/10
29/29 [==============================] - 0s 14ms/step - loss: 0.0532 - mae: 0.1717

In [30]:
# Supongamos que `data_all` contiene tus datos históricos, incluyendo 2019.
# data_all debe tener la forma (n_samples, n_features)

# Convertir el DataFrame a un array de NumPy
data_norm_array = data_norm.values

# Extraer la última ventana de datos de 2019 para predecir enero de 2020
column_names = data_norm.columns  # Obtener los nombres de las columnas

# Extraer los últimos `window_size` meses de 2019
input_data = data_norm_array[-window_size:].reshape((1, window_size, n_features))

# Predecir enero de 2020
pred_january = model.predict(input_data)

# Asegurarse de que la predicción tenga la forma correcta
pred_january = pred_january.reshape((1, n_future, n_features))

# Crear un DataFrame para la predicción de enero de 2020
pred_january_df = pd.DataFrame(pred_january[0], columns=column_names)
pred_january_df.index = pd.date_range(start='2020-01-01', periods=n_future, freq='MS')

# Actualizar la ventana de entrada para predecir febrero de 2020
input_data = np.append(input_data[:, 1:, :], pred_january[:, 0, :].reshape(1, 1, n_features), axis=1)

# Predecir febrero de 2020
pred_february = model.predict(input_data)

# Asegurarse de que la predicción tenga la forma correcta
pred_february = pred_february.reshape((1, n_future, n_features))

# Crear un DataFrame para la predicción de febrero de 2020
pred_february_df = pd.DataFrame(pred_february[0], columns=column_names)
pred_february_df.index = pd.date_range(start='2020-02-01', periods=n_future, freq='MS')

# Predije dos veces, una volviendo a entrenar con los datos predichos de Enero 2020, y la otra no.
pred_1 = pred_january_df.loc['2020-02-01']

pred_1_denorm = denormalize_series(pred_1, data_norm_params, normalization=normalization)
data_pred1_denorm = pred_1_denorm.reset_index()
data_pred1_denorm.columns = ['product_id', 'tn']
predicciones = filter_data(data_pred1_denorm, data_productos_a_predecir)
predicciones.to_csv('predicciones.csv', index=False)

1/1 [==============================] - 3s 3s/step
1/1 [==============================] - 0s 23ms/step

# EDA

In [31]:
# # Evidentemente cuando el profe deidentifico los customers, lo hizo asignandoles ID secuenciales al listado ordenado por la suma de ventas(tn)
# print('Listado de Clientes, ordenados por la sumatoria de ventas en tn:\n', group_data(data, 'customer_id').sum(), '\n')

# # Lo mismo cuando deidentifico a los productos, solo que esta vez empezo desde 20000
# print('Listado de Productos, ordenados por la sumatoria de ventas en tn:\n', group_data(data, 'product_id').sum())

In [32]:
# Analisis del cliente top

data_top = data.query('customer_id == "10001"')
data_top = group_data(data_top, 'product_id')
data_top = fill_nulls(data_top)

data_top

,20001,20002,20003,20004,20005,20006,20007,20008,20009,20010,...,21202,21207,21212,21214,21218,21222,21224,21227,21265,21266
periodo,,,,,,,,,,,,,,,,,,,,,
2017-01-01,99.44,87.65,100.21,21.74,1.77,29.17,52.89,27.13,12.98,1.32,...,0.37,0.01,0.03,0.02,0.16,0.05,0.01,0.01,0.03,0.03
2017-02-01,198.84,66.08,126.98,29.76,1.77,100.38,76.59,118.41,25.12,0.11,...,0.02,0.01,0.03,0.02,0.01,0.11,0.01,0.01,0.03,0.03
2017-03-01,92.47,75.09,114.53,42.55,1.77,30.58,70.29,43.26,18.76,5.39,...,0.02,0.01,0.03,0.02,0.01,0.11,0.01,0.01,0.03,0.03
2017-04-01,13.30,49.51,37.35,9.32,1.77,70.11,161.12,65.87,32.35,5.39,...,0.02,0.01,0.03,0.02,0.01,0.11,0.00,0.01,0.03,0.03
2017-05-01,101.01,122.40,76.66,8.33,1.77,106.23,61.71,84.27,60.04,5.39,...,0.02,0.01,0.03,0.02,0.02,0.11,0.01,0.01,0.03,0.03
2017-06-01,128.05,167.46,108.30,10.92,1.77,43.76,134.62,48.78,32.71,5.39,...,0.03,0.01,0.03,0.02,0.01,0.01,0.04,0.01,0.03,0.03
2017-07-01,101.21,156.15,87.14,15.01,1.77,45.80,136.14,37.95,44.60,5.39,...,0.04,0.01,0.03,0.02,0.04,0.03,0.00,0.01,0.03,0.03
2017-08-01,43.34,18.15,43.57,12.42,1.77,22.11,116.64,33.88,43.74,5.39,...,0.10,0.01,0.03,0.02,0.02,0.02,0.02,0.01,0.03,0.03
2017-09-01,289.35,228.15,174.28,37.27,1.77,18.06,201.87,29.04,50.23,5.39,...,0.06,0.01,0.03,0.02,0.02,0.02,0.01,0.01,0.03,0.03
2017-10-01,222.11,23.63,295.04,13.46,1.77,32.31,138.82,30.74,19.66,5.39,...,0.05,0.01,0.03,0.02,0.03,0.01,0.01,0.01,0.03,0.03
2017-11-01,111.55,109.11,38.59,12.42,1.77,17.41,57.09,20.08,37.48,5.39,...,0.12,0.01,0.03,0.02,0.03,0.01,0.01,0.01,0.03,0.03
2017-12-01,131.27,186.36,268.89,12.73,1.77,17.57,94.37,21.80,83.40,5.39,...,0.02,0.01,0.06,0.02,0.04,0.01,0.01,0.01,0.03,0.03
2018-01-01,49.62,75.49,36.31,19.00,1.77,4.08,11.33,9.41,10.80,5.39,...,0.02,0.01,0.01,0.02,0.01,0.02,0.00,0.01,0.03,0.03
2018-02-01,88.44,139.61,34.44,10.87,1.77,8.63,6.35,14.90,30.25,5.39,...,0.02,0.01,0.02,0.02,0.01,0.01,0.00,0.01,0.03,0.03
2018-03-01,214.72,246.79,100.21,26.92,1.77,26.82,84.21,25.25,56.89,5.39,...,0.07,0.01,0.03,0.02,0.03,0.01,0.01,0.01,0.03,0.03
2018-04-01,132.83,212.38,146.90,30.02,1.77,21.17,69.89,24.47,29.51,5.39,...,0.06,0.00,0.02,0.02,0.08,0.01,0.00,0.01,0.03,0.03
2018-05-01,165.74,264.55,41.70,2.07,1.77,32.94,93.64,30.42,71.32,5.39,...,0.13,0.00,0.03,0.02,0.07,0.02,0.00,0.01,0.03,0.03
2018-06-01,92.29,217.66,119.15,11.90,1.77,24.47,50.53,29.64,32.43,5.39,...,0.09,0.00,0.05,0.02,0.05,0.00,0.01,0.01,0.03,0.03
2018-07-01,256.06,164.87,98.97,19.15,1.77,13.96,67.84,26.82,49.87,0.00,...,0.18,0.00,0.03,0.02,0.02,0.01,0.00,0.01,0.03,0.03
2018-08-01,139.24,77.95,59.13,21.74,0.52,14.90,44.37,18.04,56.69,0.00,...,0.07,0.00,0.02,0.02,0.03,0.01,0.00,0.01,0.03,0.03
2018-09-01,358.58,298.89,114.53,29.76,0.58,23.68,58.91,26.74,113.63,0.00,...,0.05,0.00,0.02,0.02,0.01,0.01,0.00,0.01,0.03,0.03
2018-10-01,245.21,195.05,126.52,29.32,1.03,22.11,65.85,27.76,65.63,0.00,...,0.01,0.01,0.02,0.02,0.01,0.01,0.00,0.01,0.03,0.03
2018-11-01,241.02,247.98,273.63,34.56,2.45,5.49,47.17,15.68,58.54,0.00,...,0.12,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.03,0.03
2018-12-01,254.62,287.14,37.35,13.98,2.00,9.44,36.54,10.98,61.57,0.00,...,0.12,0.01,0.01,0.02,0.01,0.01,0.00,0.01,0.03,0.03
2019-01-01,386.61,242.96,41.70,33.13,3.03,27.29,46.09,28.70,84.00,0.00,...,0.12,0.01,0.02,0.02,0.01,0.00,0.00,0.01,0.03,0.03
2019-02-01,309.91,270.99,113.28,24.02,4.12,18.82,36.78,26.82,12.80,0.00,...,0.03,0.01,0.01,0.02,0.00,0.00,0.00,0.01,0.03,0.03
2019-03-01,130.55,220.19,125.50,25.95,5.67,42.70,112.18,47.84,9.58,0.00,...,0.03,0.01,0.02,0.02,0.01,0.00,0.00,0.01,0.03,0.03
2019-04-01,364.37,155.82,86.55,17.85,1.72,13.49,20.72,12.70,0.61,0.00,...,0.13,0.00,0.02,0.02,0.01,0.00,0.00,0.01,0.03,0.03
2019-05-01,439.91,264.55,74.72,28.00,4.26,13.87,38.36,24.29,14.07,0.00,...,0.08,0.01,0.02,0.02,0.03,0.00,0.00,0.01,0.03,0.03
2019-06-01,65.92,151.12,78.80,34.26,3.21,5.30,30.36,21.42,33.89,0.00,...,0.03,0.00,0.01,0.02,0.03,0.00,0.00,0.01,0.03,0.03
2019-07-01,144.79,103.12,105.81,16.05,5.41,8.80,58.14,14.90,43.28,0.00,...,0.03,0.01,0.02,0.02,0.03,0.00,0.00,0.01,0.03,0.03
2019-08-01,33.64,148.91,121.06,8.33,2.51,8.47,32.81,16.31,24.38,0.00,...,0.01,0.01,0.01,0.02,0.01,0.00,0.00,0.01,0.03,0.03
2019-09-01,109.05,213.36,101.62,20.57,5.67,12.39,23.47,17.88,35.24,0.00,...,0.00,0.01,0.02,0.02,0.02,0.00,0.00,0.01,0.03,0.03
2019-10-01,176.03,430.91,196.19,37.89,7.99,4.08,63.40,4.71,45.48,0.00,...,0.00,0.01,0.03,0.02,0.00,0.00,0.00,0.01,0.03,0.03
2019-11-01,236.66,547.88,135.69,27.59,11.02,18.41,21.48,22.90,99.49,0.00,...,0.00,0.00,0.01,0.01,0.00,0.00,0.00,0.01,0.03,0.03
2019-12-01,180.22,334.04,137.99,12.94,7.67,15.84,55.23,12.70,74.67,0.00,...,0.00,0.00,0.02,0.02,0.00,0.00,0.00,0.01,0.03,0.03